
    <link rel="stylesheet" href="/css/teacherSubj.css">


<body>
    <div class="main-page">
     
        <div class="main__content">
            <div class="main__title">
                <button>
                    <a href="/admin/allotsubject" class="back__btn">
                       
                        <ion-icon class="back_btn_icon" name="chevron-back-circle-outline"></ion-icon> 
                    </a>
                </button>
                <h2 class="main__title__name">
                    Allot subjects to Teachers
                </h2>
            </div>
            <div class="allot__2" id="section2">
                <div class="teacher__and__btn">
                    <div class="teacher">
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                                alt="">
                        </div>
                        <div class="teacher__details">
                            <h3 class="name">
                                <%= teacher.name%>
                            </h3>
                            <p class="designation">
                                Professor and HOD <br> Department of IT
                            </p>
                        </div>
                    </div>
                    <button class="btn btn-full btn-large" onclick="addsub()">
                        <span class="icon">+</span>
                        <span class="text">Add Subjects</span>
                    </button>
                </div>

                <div class="description">
                    <div class="description__titles">
                        <ul>
                            <li>Code</li>
                            <li>Subject Name</li>
                            <li>Course</li>
                            <li>Dept</li>
                            <li>Sem</li>
                            <li>Sec</li>
                            <li></li>

                            <!-- <li>Delete</li> -->
                        </ul>
                    </div>
                    <div class="description-scroll">

                    <% for(let i = 0; i<timetable.length; i++){%>
                        <div class="description__list">
                            <% console.log(timetable[i])%>
                            <ul>
                                <li><%= timetable[i].subjectcode.code%></li>
                                <li><%= timetable[i].subjectcode.name%></li>
                                <li><%= timetable[i].branch%></li>
                                <li><%= timetable[i].department%></li>
                                <li><%= timetable[i].semester%></li>
                                <li><%= timetable[i].section%></li>
                                <li><a href="/admin/deletesubject/?id=<%= timetable[i]._id %>&teacherid=<%= teacher._id %>">
                                    <ion-icon class="delete-sub" name="trash-outline"></ion-icon></a></li>
                            </ul>
                        </div>
                    <%}%>
                    </div>
                </div>
            </div>
            <div class="modal-bg">
            <div class="modal" id="section3">
                <div class="modal__title__bar">
                    <h3 class="modal__title">
                        Add new subject
                    </h3>
                    <button class="close__btn" onclick="closemodal()">
                        <ion-icon class="close_btn_icon" name="close-circle-outline"></ion-icon>
                    </button>
                </div>
                <div class="modal__bottom">
                    <form action="/admin/addsubject" method="post">
                        <div class="input__field">
                            <div class="row1">
                                <input type="text" name="branch" id="course" placeholder="Course">
                                <!-- <select name="department" id="dept">
                                    for()
                                </select> -->
                                <input type="text" name="department" id="dept" placeholder="Dept">
                                <input type="number" name="semester" id="sem" placeholder="Semester">
                                <input type="text" name="section" id="sec" placeholder="Section">
                            </div>
                            <div class="row2">
                                <input type="text" value="<%= teacher.username %>" style="display: none" name="registration">
                                <input type="text" name="code" id="code" placeholder="Code">
                                <input type="text" name="subject" id="subject" placeholder="Subject Name">
                            </div>
                            
                        </div>
                        <button class="btn btn-full" type="submit">Add Subject</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/js/allotsubject.js"></script>
</body>

</html>