
    <link rel="stylesheet" href="<%= assetPath('css/admin-allot-sub.css') %>">


    <div class="main-page">
     <div class="blur">
        <div class="main__content">
            <div class="page-heading">
                <a href="/teacher/dashboard"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg></a>
                <h1 class="heading">Allot Subject to Teacher</h1>
              </div>
    
            <div class="allot__2" id="section2">
                <div class="teacher__and__btn">
                    <div class="teacher">
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                                alt="">
                        </div>
                        <div class="teacher__details">
                            <h3 class="name">
                                <%= teacher.name%>
                            </h3>
                            <p class="designation">
                                Professor and HOD <br> Department of IT
                            </p>
                        </div>
                    </div>
                    <button class="btn btn-full btn-large" onclick="addsub()">
                        <span class="icon">+</span>
                        <span class="text">Add Subjects</span>
                    </button>
                </div>

                <div class="description">
                    <div class="description__titles">
                        <ul>
                            <li>Code</li>
                            <li>Subject Name</li>
                            <li>Course</li>
                            <li>Dept</li>
                            <li>Sem</li>
                            <li>Sec</li>
                            <li></li>

                            <!-- <li>Delete</li> -->
                        </ul>
                    </div>
                    <div class="description-scroll">

                    <% for(let i = 0; i<timetable.length; i++){%>
                        <div class="description__list">
                            <% console.log(timetable[i])%>
                            <ul>
                                <li><%= timetable[i].subjectcode.code%></li>
                                <li><%= timetable[i].subjectcode.name%></li>
                                <li><%= timetable[i].branch%></li>
                                <li><%= timetable[i].department%></li>
                                <li><%= timetable[i].semester%></li>
                                <li><%= timetable[i].section%></li>
                                <li><a class="del-btn" href="/admin/deletesubject/?id=<%= timetable[i]._id %>&teacherid=<%= teacher._id %>">
                                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M261-120q-24.75 0-42.375-17.625T201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z"/></svg></a></li>
                            </ul>
                        </div>
                    <%}%>
                    </div>
                </div>
            </div>
            <div class="modal-bg">
            <div class="modal" id="section3">
                <div class="modal__title__bar">
                    <h3 class="modal__title">
                        Add new subject
                    </h3>
                    <button class="close__btn" onclick="closemodal()">
                        <ion-icon class="close_btn_icon" name="close-circle-outline"></ion-icon>
                    </button>
                </div>
                <div class="modal__bottom">
                    <form action="/admin/addsubject" method="post">
                        <div class="input__field">
                            <div class="row1">
                                <input type="text" name="branch" id="course" placeholder="Course">
                                <!-- <select name="department" id="dept">
                                    for()
                                </select> -->
                                <input type="text" name="department" id="dept" placeholder="Dept">
                                <input type="number" name="semester" id="sem" placeholder="Semester">
                                <input type="text" name="section" id="sec" placeholder="Section">
                            </div>
                            <div class="row2">
                                <input type="text" value="<%= teacher.username %>" style="display: none" name="registration">
                                <input type="text" name="code" id="code" placeholder="Code">
                                <!-- <input type="text" name="subject" id="subject" placeholder="Subject Name"> -->
                            </div>
                            
                        </div>
                        <button class="btn btn-full" type="submit">Add Subject</button>
                    </form>
                </div>
            </div>
        </div>
        </div></div>

    </div>
    
    <script src="<%= assetPath('js/admin-allotsub.js') %>"></script>
