<link rel="stylesheet" href="<%= assetPath('css/consolidate_attendance_report.css') %>"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<body>
    <div class="report_main">
        <div class="report_header">
            <div>SIKKIM MANIPAL INSTITUTE OF TECHNOLOGY</div>
            <div>CONSOLIDATE ATTENDANCE</div>
        </div>
        <div class="report_sbj">
            <div><span>Department: </span>IT</div>
            <div><span>Course: </span>BTECH</div>
            <div><span>Semester: </span>5</div>
            <div><span>Section: </span>A</div>
            <div><span>Attendance Percentage: </span>Below 75%</div>
        </div>
        <div class="report">
            <table>
                <tr>
                    <td colspan="2" class="sbj_nm">Student</td>
                    <%for(let i = 0; i<subjectlist.length; i++){%>
                        <td colspan="3"><div class="sbj_cod"><%=subjectlist[i].subjectcode.code%></div>
                            <div class="sbj_nm"><%=subjectlist[i].subjectcode.name%></div>
                        </td>
                    <%}%>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Reg. No.</th>
                    <%for(let  i = 0; i<subjectlist.length; i++){%>
                        <th>CLC</th>
                        <th>CLA</th>
                        <th>PER</th>
                    <%}%>
                    
                </tr>
                <%for(let  i = 0; i<studentlist.length; i++){%>
                <tr>
                    <td><%=studentlist[i].name%></td>
                    <td><%=studentlist[i].username%></td>
                    <%for(let j = 0; j<subjectlist.length; j++){%>
                        <%if(attarr[i][j]){%>
                            <td><%=attarr[i][j].present.length%></td>
                        <%}else{%>
                               <td></td>
                        <%}%>
                        <%if(attarr[i][j]){%>
                            <td><%=attarr[i][j].totalpresent%></td>
                        <%}else{%>
                               <td></td>
                        <%}%>
                        <%if(attarr[i][j]){%>
                            <td><%=(attarr[i][j].totalpresent/attarr[i][j].present.length*100).toFixed(0)%>%</td>
                        <%}else{%>
                               <td></td>
                        <%}%>
                    <%}%>
                </tr>
                
            <%}%>
            </table>
            
        </div>
    </div>
</body>
<script>
    const doc = new jsPDF({
        orientation: 'landscape',
      });

      const message = 'This is some example text for the PDF.';
      doc.text(10, 10, message);

      doc.save('output.pdf');
</script>