<link rel="stylesheet" href="<%= assetPath('css/admin-noty.css') %>">


<div class="main-page">
    <div class="blur">
        <div class="page-heading">
          <!-- <a href="/student/dashboard"><img src="/images/allotarrow.png" alt="" id="back_buttn"></a> -->
          <a href="/student/dashboard"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg></a>
          <h1 class="heading">Create Notification</h1>
        </div>
    

    <!-- overlay -->
    <div class="overlay" id="overlay"></div>
    <div class="modal " id="modal">
        <div class="top">
            <h3>Create Notification</h3>
            <button class="close" id="close">
                <svg width="30" height="30" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1546_5783)">
                        <path
                            d="M38.4546 19.13C43.8882 24.351 44.0612 33.0201 38.8403 38.4538C33.6193 43.8874 24.9502 44.0604 19.5165 38.8395C14.0829 33.6185 13.9098 24.9494 19.1308 19.5157C24.3518 14.0821 33.0209 13.9091 38.4546 19.13ZM40.8218 16.6664C34.0184 10.1292 23.2043 10.345 16.6671 17.1485C10.13 23.9519 10.3458 34.766 17.1493 41.3031C23.9527 47.8403 34.7668 47.6245 41.3039 40.821C47.8411 34.0176 47.6253 23.2035 40.8218 16.6664ZM36.3284 33.671L31.401 28.9365L36.1355 24.0092L33.6718 21.6419L28.9373 26.5693L24.01 21.8348L21.6427 24.2985L26.5701 29.033L21.8356 33.9603L24.2992 36.3276L29.0338 31.4002L33.9611 36.1347L36.3284 33.671Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1546_5783">
                            <rect width="41" height="41" fill="white" transform="translate(28.4072) rotate(43.8565)" />
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
        <div class="bottom">
            <form action="/admin/createnoti" method="POST" enctype="multipart/form-data" id="createnotiid">
                <div class="row1">
                    <input type="text" name="title" placeholder="Notification Title" maxlength="100">
                    <button type="submit" class="create__second">Create</button>
                </div>
                <div class="row2">
                    <button class="btn">Upload
                        <span>
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1546_5664)">
                                    <path
                                        d="M11 9.00025V15.0002C11.0003 15.2551 11.0979 15.5003 11.2728 15.6856C11.4478 15.871 11.687 15.9825 11.9414 15.9974C12.1958 16.0124 12.4464 15.9296 12.6418 15.766C12.8373 15.6024 12.9629 15.3703 12.993 15.1172L13 15.0002V9.00025H19C19.5046 9.00009 19.9906 9.19066 20.3605 9.53375C20.7305 9.87684 20.9572 10.3471 20.995 10.8502L21 11.0002V20.0002C21.0002 20.5048 20.8096 20.9908 20.4665 21.3608C20.1234 21.7308 19.6532 21.9574 19.15 21.9953L19 22.0002H5C4.49542 22.0004 4.00943 21.8098 3.63945 21.4668C3.26947 21.1237 3.04284 20.6534 3.005 20.1502L3 20.0002V11.0002C2.99984 10.4957 3.19041 10.0097 3.5335 9.6397C3.87659 9.26972 4.34684 9.04309 4.85 9.00525L5 9.00025H11ZM12.884 2.46925L16.243 5.82725C16.4306 6.01489 16.5361 6.26938 16.5361 6.53475C16.5361 6.80011 16.4306 7.05461 16.243 7.24225C16.0554 7.42989 15.8009 7.53531 15.5355 7.53531C15.2701 7.53531 15.0156 7.42989 14.828 7.24225L13 5.41325V9.00025H11V5.41325L9.172 7.24225C9.07909 7.33516 8.96879 7.40886 8.8474 7.45914C8.726 7.50942 8.5959 7.53531 8.4645 7.53531C8.33311 7.53531 8.203 7.50942 8.0816 7.45914C7.96021 7.40886 7.84991 7.33516 7.757 7.24225C7.66409 7.14934 7.59039 7.03904 7.54011 6.91764C7.48982 6.79625 7.46394 6.66614 7.46394 6.53475C7.46394 6.40335 7.48982 6.27325 7.54011 6.15185C7.59039 6.03046 7.66409 5.92016 7.757 5.82725L11.117 2.46925C11.3514 2.23506 11.6692 2.10352 12.0005 2.10352C12.3318 2.10352 12.6496 2.23506 12.884 2.46925Z"
                                        fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_1546_5664">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </button>
                    <input type="file" name="notifile" required/>
                    <!-- <input type="date" name="" id=""> -->
                </div>
            </form>
        </div>
    </div>

    <div class="main__content">
        <div class="button__section">
            <button id="create__btn" class="btn btn-full btn-medium">Create</button>
            OR
            <button class="btn btn-outline btn-medium">Import</button>
        </div>

        <div class="list__main">
            <div class="list__main__title">
                <ul>
                    <li>S.No</li>
                    <li>Notification Title</li>
                    <li>Date</li>
                    <li>Attached Document</li>
                </ul>
            </div>
            <div class="noti-list">
                <%for(let i = 0; i<notidata.length; i++){%>
                <div class="list__items">
                    <ul>
                        <li><%=i+1%></li>
                        <li><%=notidata[i].title%></li>
                        <li><%=notidata[i].updatedAt.toString().slice(0,16)%></li>
                        <li>
                            <div class="upload__btn">
                                <button class="btn">Upload
                                    <span>
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_1546_5664)">
                                                <path
                                                    d="M11 9.00025V15.0002C11.0003 15.2551 11.0979 15.5003 11.2728 15.6856C11.4478 15.871 11.687 15.9825 11.9414 15.9974C12.1958 16.0124 12.4464 15.9296 12.6418 15.766C12.8373 15.6024 12.9629 15.3703 12.993 15.1172L13 15.0002V9.00025H19C19.5046 9.00009 19.9906 9.19066 20.3605 9.53375C20.7305 9.87684 20.9572 10.3471 20.995 10.8502L21 11.0002V20.0002C21.0002 20.5048 20.8096 20.9908 20.4665 21.3608C20.1234 21.7308 19.6532 21.9574 19.15 21.9953L19 22.0002H5C4.49542 22.0004 4.00943 21.8098 3.63945 21.4668C3.26947 21.1237 3.04284 20.6534 3.005 20.1502L3 20.0002V11.0002C2.99984 10.4957 3.19041 10.0097 3.5335 9.6397C3.87659 9.26972 4.34684 9.04309 4.85 9.00525L5 9.00025H11ZM12.884 2.46925L16.243 5.82725C16.4306 6.01489 16.5361 6.26938 16.5361 6.53475C16.5361 6.80011 16.4306 7.05461 16.243 7.24225C16.0554 7.42989 15.8009 7.53531 15.5355 7.53531C15.2701 7.53531 15.0156 7.42989 14.828 7.24225L13 5.41325V9.00025H11V5.41325L9.172 7.24225C9.07909 7.33516 8.96879 7.40886 8.8474 7.45914C8.726 7.50942 8.5959 7.53531 8.4645 7.53531C8.33311 7.53531 8.203 7.50942 8.0816 7.45914C7.96021 7.40886 7.84991 7.33516 7.757 7.24225C7.66409 7.14934 7.59039 7.03904 7.54011 6.91764C7.48982 6.79625 7.46394 6.66614 7.46394 6.53475C7.46394 6.40335 7.48982 6.27325 7.54011 6.15185C7.59039 6.03046 7.66409 5.92016 7.757 5.82725L11.117 2.46925C11.3514 2.23506 11.6692 2.10352 12.0005 2.10352C12.3318 2.10352 12.6496 2.23506 12.884 2.46925Z"
                                                    fill="white" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_1546_5664">
                                                    <rect width="24" height="24" fill="white" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </span>
                                </button>
                                <!-- <input type="file" name="myfile" /> -->
                            </div>
                            <span class="delete">
                                <svg width="20" height="20" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.125 5.625H16.875C16.875 5.12772 16.6775 4.65081 16.3258 4.29917C15.9742 3.94754 15.4973 3.75 15 3.75C14.5027 3.75 14.0258 3.94754 13.6742 4.29917C13.3225 4.65081 13.125 5.12772 13.125 5.625ZM11.25 5.625C11.25 4.63044 11.6451 3.67661 12.3483 2.97335C13.0516 2.27009 14.0054 1.875 15 1.875C15.9946 1.875 16.9484 2.27009 17.6516 2.97335C18.3549 3.67661 18.75 4.63044 18.75 5.625H26.25C26.4986 5.625 26.7371 5.72377 26.9129 5.89959C27.0887 6.0754 27.1875 6.31386 27.1875 6.5625C27.1875 6.81114 27.0887 7.0496 26.9129 7.22541C26.7371 7.40123 26.4986 7.5 26.25 7.5H25.1925L22.9331 24.0713C22.7799 25.1943 22.225 26.2237 21.3711 26.969C20.5172 27.7143 19.4222 28.125 18.2887 28.125H11.7112C10.5778 28.125 9.48283 27.7143 8.62894 26.969C7.77505 26.2237 7.22011 25.1943 7.06687 24.0713L4.8075 7.5H3.75C3.50136 7.5 3.2629 7.40123 3.08709 7.22541C2.91127 7.0496 2.8125 6.81114 2.8125 6.5625C2.8125 6.31386 2.91127 6.0754 3.08709 5.89959C3.2629 5.72377 3.50136 5.625 3.75 5.625H11.25ZM13.125 12.1875C13.125 11.9389 13.0262 11.7004 12.8504 11.5246C12.6746 11.3488 12.4361 11.25 12.1875 11.25C11.9389 11.25 11.7004 11.3488 11.5246 11.5246C11.3488 11.7004 11.25 11.9389 11.25 12.1875V21.5625C11.25 21.8111 11.3488 22.0496 11.5246 22.2254C11.7004 22.4012 11.9389 22.5 12.1875 22.5C12.4361 22.5 12.6746 22.4012 12.8504 22.2254C13.0262 22.0496 13.125 21.8111 13.125 21.5625V12.1875ZM17.8125 11.25C18.0611 11.25 18.2996 11.3488 18.4754 11.5246C18.6512 11.7004 18.75 11.9389 18.75 12.1875V21.5625C18.75 21.8111 18.6512 22.0496 18.4754 22.2254C18.2996 22.4012 18.0611 22.5 17.8125 22.5C17.5639 22.5 17.3254 22.4012 17.1496 22.2254C16.9738 22.0496 16.875 21.8111 16.875 21.5625V12.1875C16.875 11.9389 16.9738 11.7004 17.1496 11.5246C17.3254 11.3488 17.5639 11.25 17.8125 11.25ZM8.925 23.8181C9.01702 24.4918 9.34996 25.1093 9.86221 25.5564C10.3745 26.0035 11.0313 26.2499 11.7112 26.25H18.2887C18.969 26.2504 19.6263 26.0042 20.139 25.557C20.6516 25.1099 20.9848 24.4921 21.0769 23.8181L23.3006 7.5H6.69937L8.925 23.8181Z"
                                        fill="white" />
                                </svg>
                            </span>
                        </li>
                    </ul>
                </div>
                <%}%>
            </div>

        </div>
    </div>
    </div>
</div>
<script src="<%= assetPath('js/create_notif.js') %>"></script>
<script src="<%= assetPath('js/notification_form.js') %>"></script>