<link rel="stylesheet" href="<%= assetPath('css/adminhome.css') %>" />
<link rel="stylesheet" href="<%= assetPath('css/dashboard-calendar.css') %>" />
<link rel="stylesheet" href="<%= assetPath('css/card.css') %>" />

<div class="main-page">
  <div class="blur">
  <!--Home Page ADMIN-->

  <div class="heading">
    <div>
      <h1 class="head">Administrator Dashboard</h1>
      <h4 class="welcome-msg">
        Welcome back, <span id="name">AmnUllh !</span>
      </h4>
    </div>

    <div class="admin-info">
      <div>
        <img class="img" src="/images/AG.jpg" alt="" />
      </div>
      <div class="adm">
        <h1 class="adm-name"><%=admindata.name%></h1>
        <p class="adm-info">Professor and HOD <br />Department of <%=admindata.department%></p>
      </div>
    </div>
  </div>

  <div class="search-box">
    <div class=" search-input">
      <input type="text" placeholder="Eg: 202300423" />
      <div class="search-btn">
          <a href="#">Search</a>
      </div>
  </div>

    <div class="add">
      <a class=" btn btn-full btn-large add-button" href="/admin/addteacher">Add Teacher
        <img src="/images/add.png" alt="" />
      </a>
      <a class="add-button btn btn-full btn-large " href="/admin/addstudent">
        Add Student
        <img src="/images/add.png" alt="" />
      </a>
    </div>
  </div>
  <div class="teachers">
    <h1 class="hed">My Teachers</h1>
    <div class="main-carousel-container">
      <div class="controller left-control">
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg>
      </div>
      <div class="carousel-container">
        <div class="carousel">
          <% for(let i=0; i<teacher.length; i++){%>
            <div class="slide sl">
              <div>
                <div class="teacher">
                  <img class="img" src="/images/AG.jpg" alt="" />
                  <div>
                    <h1>
                      <%= teacher[i].name %>
                    </h1>
                    <p>
                      <%= teacher[i].position%><br />
                        <%= teacher[i].username %>
                    </p>
                  </div>
                </div>
                <div class="slide-btn">
                  <button class="btn btn-full">View Profile</button>
                  <button class="btn btn-outline">Message</button>
                </div>
              </div>
            </div>
            <% }%>
        </div>
      </div>
      <div class="controller right-control">
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M266-99.333q-17.667-18.334-18-43.833-.333-25.5 18-43.834l294.334-294.333-294.667-294.668q-17.667-17.666-18.5-43.333Q246.333-845 265-863.667q17.666-18.333 43.833-18.666 26.167-.334 43.833 18l347 346.333q7.667 7.667 11.5 17.167 3.834 9.5 3.834 19.5t-3.834 19.5q-3.833 9.499-11.5 17.166L353.333-98.333q-17.667 17.666-43.167 17.666T266-99.333Z"/></svg>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="pichart"></div>

    <div class="card card5 adm-calendar">
      <!-- <div class="card-hed">
                  <p>Calender</p>
                </div> -->
      <div class="wrapper">
        <header>
          <div class="icons calendar-hed">
            <!-- <span id="prev" class="material-symbols-rounded">chevron_left</span> -->
            <!-- <img src="/images/back.png" id="prev" class="icon-fp" alt="" srcset=""> -->
            <div>
              <span id="prev" class="icon-fp"><ion-icon name="chevron-back-outline"></ion-icon></span>
            </div>
            <div class="current-DATE">
              <p class="current-date"></p>
              <p class="current-year"></p>
            </div>
            <div>
              <span id="next" class="icon-fp"><ion-icon name="chevron-forward-outline"></ion-icon></span>
            </div>
            <!-- <span id="next" class="material-symbols-rounded">chevron_right</span> -->
            <!-- <img src="/images/forward.png" id="next" class="icon-fp" alt="" srcset=""> -->
          </div>
        </header>
        <div class="calendar">
          <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
          </ul>
          <ul class="days"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script src="<%= assetPath('js/dashboard-calendar.js') %>"></script>
<script src="<%= assetPath('js/teacher-subject-timetable.js') %>"></script>