<link rel="stylesheet" href="<%= assetPath('css/admin-feedback.css') %>">
<div class="main-page">
        <div class="blur">
          <div class="page-heading">
            <a href="/admin/feedback"
              ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                  d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
                />
              </svg>
            </a>
            <h1 class="heading">View Feedback</h1>
          </div>
          <div class="feedback_header">
            <div class="feedback_header_info">
              <div class="dept-details">
                <span>Department :<input class="input-hed" type="text" hidden value="<%=department%>"> <span class="bold-info"><%=department%></span></span>
                <span>Course :<input class="input-hed" type="text" hidden value="<%=course%>"> <span class="bold-info"><%=course%></span></span>
                <span>Semester :<input class="input-hed" type="text" hidden value="<%=semester%>"> <span class="bold-info"><%=semester%></span></span>
              </div>
            
              <select id="subject" class="filter-select sub-sel" name="subname">
                <option value="">Subject</option>
                <%for(let i = 0; i<subject.length; i++){%>
                  <option value="<%=subject[i]._id%>"><%=subject[i].subjectcode.name%></option>
                <%}%>
              </select>
              
              
              <div class="feedback_header_deadline">
                Deadline:
                <%=String(feedbackdata.deadline).substring(0,15)%>
              </div>
            </div>
            <div class="feedback_header_btn">
              <a onclick="openPopup()" class="not-submitted"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="2vw" fill="#FFFFFF"><g fill="none"><path d="M0 0h24v24H0V0z"/><path d="M0 0h24v24H0V0z" opacity=".87"/></g><path d="M4 13c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 4c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0-8c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm4 4h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1s.45 1 1 1zm0 4h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1s.45 1 1 1zM7 8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1zm-3 5c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0 4c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0-8c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm4 4h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1s.45 1 1 1zm0 4h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1s.45 1 1 1zM7 8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1z"/></svg> Not Submitted</a>
            </div>
          </div>
          <div class="list_feedback">
            <div class="list_feedback_title">
              <div class="list_items">
                <ul>
                  <li>Q.No</li>
                  <li>Questions</li>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>Avg</li>
                </ul>
              </div>
            </div>
            <div class="list_scroll">
              <div class="list_items">
                <ul>
                  <li>1</li>
                  <li>
                    It is a long established fact that a reader will be
                    distracted by the readable content of adable content of
                    adable content of adable content of a page when loo
                  </li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>8</li>
                </ul>
                <ul>
                  <li>1</li>
                  <li>
                    It is a long established fact that a reader will be
                    distracted by the readable content of adable content of
                    adable content of adable content of a page when loo
                  </li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>8</li>
                </ul>
                <ul>
                  <li>1</li>
                  <li>
                    It is a long established fact that a reader will be
                    distracted by the readable content of adable content of
                    adable content of adable content of a page when loo
                  </li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>8</li>
                </ul>
                <ul>
                  <li>1</li>
                  <li>
                    It is a long established fact that a reader will be
                    distracted by the readable content of adable content of
                    adable content of adable content of a page when loo
                  </li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>8</li>
                </ul>
                <ul>
                  <li>1</li>
                  <li>
                    It is a long established fact that a reader will be
                    distracted by the readable content of adable content of
                    adable content of adable content of a page when loo
                  </li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>8</li>
                </ul>
                <ul>
                  <li>1</li>
                  <li>
                    It is a long established fact that a reader will be
                    distracted by the readable content of adable content of
                    adable content of adable content of a page when loo
                  </li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>8</li>
                </ul>
                <ul>
                  <li>1</li>
                  <li>
                    It is a long established fact that a reader will be
                    distracted by the readable content of adable content of
                    adable content of adable content of a page when loo
                  </li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>8</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="list_remarks">
            <div class="list_remarks_title">
              <ul>
                <li>Sl.No</li>
                <li>Reg No</li>
                <li>Message</li>
              </ul>
            </div>
            <div class="list_scroll">
              <ul>
                <li>01</li>
                <li>202200229</li>
                <li>
                  It is a long established fact that a reader will be distracted
                  by the readable content of adable content of adable content of
                  adable content of a page when loo
                </li>
              </ul>
              <ul>
                <li>01</li>
                <li>202200229</li>

                <li>
                  It is a long established fact that a reader will be distracted
                  by the readable content of adable content of adable content of
                  adable content of a page when loo
                </li>
              </ul>
              <ul>
                <li>01</li>
                <li>202200229</li>

                <li>
                  It is a long established fact that a reader will be distracted
                  by the readable content of adable content of adable content of
                  adable content of a page when loo
                </li>
              </ul>
              <ul>
                <li>01</li>
                <li>202200229</li>

                <li>
                  It is a long established fact that a reader will be distracted
                  by the readable content of adable content of adable content of
                  adable content of a page when loo
                </li>
              </ul>
              <ul>
                <li>01</li>
                <li>202200229</li>

                <li>
                  It is a long established fact that a reader will be distracted
                  by the readable content of adable content of adable content of
                  adable content of a page when loo
                </li>
              </ul>
            </div>
          </div>
          
        </div>
        <div class="popup"></div>
        <div class="main-box modal">
          <div class="header">
            <p>Not Submitted</p>
            <ion-icon onclick="closePopup()" name="close-circle-outline"></ion-icon>
          </div>
          <div class="table">
             <div class="table-item">
                <p>01</p>
                <p>202200030</p>
             </div>
             <div class="table-item">
                 <p>02</p>
                 <p>202200030</p>
              </div>
              <div class="table-item">
                 <p>03</p>
                 <p>202200030</p>
              </div>
              <div class="table-item">
                 <p>04</p>
                 <p>202200030</p>
              </div>
              <div class="table-item">
                 <p>05</p>
                 <p>202200030</p>
              </div>
              <div class="table-item">
                 <p>06</p>
                 <p>202200030</p>
              </div>
              <div class="table-item">
                 <p>07</p>
                 <p>202200030</p>
              </div>
              <div class="table-item">
                 <p>08</p>
                 <p>202200030</p>
              </div>
              <div class="table-item">
                 <p>09</p>
                 <p>202200030</p>
              </div>
              <div class="table-item">
                 <p>10</p>
                 <p>202200030</p>
              </div>
          </div>
        </div>
        
</div>
<script>
  let string = ``
</script>

<script>
  const popup = document.querySelector(".popup");
  const modal = document.querySelector(".modal");
  function openPopup() {
        popup.style.display = "block";
        modal.style.display = "block";
  }
    function closePopup() {
        modal.style.display = "none";
        popup.style.display = "none";
  }
  let subselect = document.getElementById('subject');
  let createform = function () {
    const newattform = $('#att-form');

    $(document).on('submit', '#att-form', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'post',
            url: '/teacher/addattendance',
            data: newattform.serialize(),
            success: function (data) {
                const nAtt = newattDom(data.data);
                new Noty({
                  theme: "relax",
                  text: "Attendance added",
                  type: "success",
                  layout: "topRight",
                 
                  timeout: 1500,
                }).show();
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    });
};

let newattDom = function (data) {
    date.value = null;
    console.log(data);
    for (let i = 0; i < data.student.length; i++) {
        let l = "len" + i;
        document.getElementById("len" + i).innerHTML = data.student[i].present.length;
        document.getElementById("tp" + i).innerHTML = data.student[i].totalpresent;
        document.getElementById("per" + i).innerHTML = parseInt(((data.student[i].totalpresent) / (data.student[i].present.length)) * 100) + "%";
        document.getElementById("cb" + i).checked = true;
    }
    return
};

// createform();


</script>