<link rel="stylesheet" href="<%= assetPath('css/tgward.css') %>" />
<div class="main-page">
  <div class="blur">
    <div class="page-heading">
      <a href="/admin/dashboard"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
          />
        </svg>
      </a>
      <h1 class="heading">TG Ward</h1>
    </div>
    <section class="main-section">
    <div class="description">
        <div class="description__titles">
          <ul>
            <li>S.No</li>
            <li>Name</li>
            <li>Employ Id</li>
            <li>No of Wards</li>
            <li></li>
          </ul>
        </div>
        <div class="description-scroll">
          <div class="description__list">
            <%for(let  i = 0; i<teacherdata.length; i++){%>
            <ul>
              <li><%=i+1%></li>
              <li><%=teacherdata[i].name%></li>
              <li><%=teacherdata[i].username%></li>
              <li><%=count[i]%></li>
              <li><a target="_blank" href="/admin/tgward/export/<%=teacherdata[i]._id%>" class="export-btn btn btn-outline btn-sm">Export</a></li>
            </ul>
            <%}%>
          </div>
        </div>
      </div>
      <!-- <div class="footer">
          <a href="#" class="btn btn-full">Export All</a>
      </div> -->
    </section>
    </div>
    </div>
