<link rel="stylesheet" href="<%= assetPath('css/allotstudent.css') %>">
<div class="main-page">

    <div class="allot-student">
        
        <div class="page-heading">
            <a href="/teacher/dashboard"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg></a>
            <h1 class="heading">Allot subjects to Students</h1>
          </div>
        <div class="main-content">
            <ul>
                <%for(let i=0; i<timetable.length; i++){%>
                    <li>
                        <a href="/teacher/searchstudent/<%=timetable[i]._id%>">

                            <div class="anchor-content">
                                <div class="row1">
                                    <span class="sub-code" name="subjectcode" value="hi">
                                        <%= timetable[i].subjectcode.code%>&nbsp;
                                    </span>
                                    <span class="sub-name">
                                        <%= timetable[i].subjectcode.name%>
                                    </span>
                                </div>
                                <div class="row2">
                                    <span>Year : <span class="bold-part">2021 &nbsp;</span></span>
                                    <span class="department">department : <span class="bold-part">
                                            <%= timetable[i].department%> &nbsp;
                                        </span></span>
                                    <span class="section">section : <span class="bold-part">
                                            <%= timetable[i].section%> &nbsp;
                                        </span></span>
                                </div>
                            </div>
                            <div class="btn-div">
                                <button class="btn btn-full btn-large"> + Add Students
                                </button>
                                <button class="btn btn-outline"> Import
                                </button>
                            </div>
                        </a>
                    </li>
                    <%}%>
            </ul>
        </div>
    </div>