<link rel="stylesheet" href="<%= assetPath('css/allotstudent.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/teacherSubj.css') %>">

<div class="main-page">

    <div class="allot-student">
        <div class="sub-heading">
            <div id="plus-button">
                <a href="#"><img src="/images/allotarrow.png"></a>
            </div>
            <div id="allot-head">
                <h3>Allot subjects to Students</h3>
            </div>
        </div>
        <div class="main-content">
            <form action="/teacher/addsubject" method="post">
                <button type="submit">Save</button>
                <div class="description">
                    <div class="description__titles">
                        <ul>
                            <li>Sr. No</li>
                            <li>Name</li>
                            <li>Registration No.</li>
                            <li>Add</li>
                        </ul>
                    </div>
                    <div class="description-scroll">

                        <% for(let i=0; i<student.length; i++){%>
                            <div class="description__list">
                                <% console.log(student[i])%>
                                    <ul>
                                        <li>
                                            <%= i+1 %>
                                        </li>

                                        <li>
                                            <%= student[i].name %>
                                        </li>
                                        <li>
                                            <%= student[i].username %>
                                        </li>
                                        <li><input type="checkbox"></li>
                            </div>
                            <%}%>
                    </div>
                </div>
            </form>


        </div>
    </div>