<form action="/teacher/addattendance" method="post" id="MyForm">
    <div class="mode__and__button">
        <div class="left">
            <select id="att-choose" class="att-chose minimal" name=""onclick="view_update(this.value)">
                <option value="add" onclick="view_update(this.value)">Add</option>
                <option value="update" onclick="view_update(this.value)">Update</option>
                <option value="view" onclick="view_update(this.value)">View</option>
            </select>
            <div class="date">
                <input type="date" name="date" id="date" required>
            </div>
        </div>
        <div class="right">
            <button class="reset" type="reset">Reset</button>
            <button class="save" type="submit">Save</button>
            <input type="text" value=<%=timetable._id%> name="id" style="display: none">
        </div>
    </div>
    <div class="list__main">
        <div class="list__main__title">
            <ul>
                <li>S.No</li>
                <li>Name</li>
                <li>Registration No.</li>
                <li>CLC</li>
                <li>CLA</li>
                <li>PER</li>
                <li><input type="checkbox" name="" id=""></li>
            </ul>
        </div>
        <div class="student-list-scroll">
            <%for(let i=0; i<student.length; i++){%>
                <div class="list__items">
                    <ul>
                        <li>
                            <%=i+1%>
                        </li>
                        <li>
                            <%=student[i].studentid.name%>
                        </li>
                        <li>
                            <%=student[i].studentid.username%>
                        </li>
                        <li>
                            <%=student[i].present.length%>
                        </li>
                        <li>
                            <%=student[i].totalpresent%>
                        </li>
                        <li>
                            <%=parseInt(((student[i].totalpresent)
                                /(student[i].present.length))*100)%>%
                        </li>
                        <li><input type="checkbox" name="check" id="" value="<%=i%>" checked>
                        </li>
                        <input type="text" value=<%=student[i]._id%> name="studentlist"
                        style="display: none">
                    </ul>
                </div>
            <%}%>
        </div>
    </div>
</form>