
<link rel="stylesheet" href="<%= assetPath('css/teacherhome.css') %>" />
<link rel="stylesheet" href="<%= assetPath('css/dashboard-calendar.css') %>" />
<link rel="stylesheet" href="<%= assetPath('css/card.css') %>" />


  <div class="main-page">
    <div class="blur">


    <!------------------------------------------------------------------------------------------------------>
    <!---------------------------------------Teacher Dashboard---------------------------------------------->
    <!------------------------------------------------------------------------------------------------------>

    <!--.......................Welocme Message......................-->

    <div class="heading">
      <div>
        <h1 class="head">Dashboard</h1>
        <h4 class="welcome-msg">
          Welcome back, <span id="name">
            <%= teacher.name%>
          </span>
        </h4>
      </div>

      <!--..........................Teacher Profile....................-->

      <div class="teacher-info">
        <div>
          <img class="tch-img" src="/images/AG.jpg" alt="" />
        </div>
        <div>
          <h1 class="tch-name">
            <%= teacher.name%>
          </h1>
          <p class="tch-info">Associate Professor <br />Department of IT</p>
        </div>
      </div>
    </div>

    <!--..........................Search Bar......................-->

   
    
    <div class=" search-input">
      <input type="text" placeholder="Eg: 202300423" id="reg"/>
      <a href="/teacher/search/" class="search-btn" id="reg-path" id="search-btn">
          Search
      </a>
  </div>

    <!--.........................Teacher Subjects......................-->
    <div class="subjects">
      <h1 class="hed">My Subjects</h1>
      <div class="main-carousel-container">
        <%if(timetable.length !== 0){%>
        <div class="controller left-control">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg>
        </div>
        <%}%>
        <div class="carousel-container">
          <% if(timetable.length === 0){%>
            <span class="noinformationtext">No subject</span>
          <%}%>
          <div class="carousel">
            <% for(let i=0; i<timetable.length; i++) {%>
                <a href="/teacher/getsubject/<%= timetable[i]._id %>">
                  <div class="slide">
                  <div class="sl">
                    <div class="cont-def">
                      <div class="sbj-cd">
                        <h2>
                          <%=timetable[i].subjectcode.code%>
                        </h2>
                      </div>
                      <div class="sbj-nm">
                        <p><%= timetable[i].subjectcode.name%></>
                      </div>
                      <div class="sbj-info">
                        <h1><span>Semester: </span>
                          <%=timetable[i].semester%>
                        </h1>
                        <h1><span>Department: </span>
                          <%=timetable[i].department%>
                        </h1>
                        <h1><span>Section: </span>
                          <%=timetable[i].section%>
                        </h1>
                      </div>
                      
                    </div>
                    <!-- <div class="cont-hover">
                      <div class="sbj-info">
                        <h1><span id="sp">
                            <%=timetable[i].subjectcode.code%>
                          </span>Mathematics</h1>
                      </div>
                      <div class="sbj-info dt">
                        <h1>MON : <span> 10:00 - 11:00 AM</span></h1>
                        <h1>THU : <span> 10:00 - 11:00 AM</span></h1>
                        <h1>FRI : <span> 10:00 - 11:00 AM</span></h1>
                      </div>
                      
                    </div> -->
                  </div>
                </div></a>
              <%}%>
          </div>
        </div>
        <%if(timetable.length !== 0){%>
        <div class="controller right-control">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M266-99.333q-17.667-18.334-18-43.833-.333-25.5 18-43.834l294.334-294.333-294.667-294.668q-17.667-17.666-18.5-43.333Q246.333-845 265-863.667q17.666-18.333 43.833-18.666 26.167-.334 43.833 18l347 346.333q7.667 7.667 11.5 17.167 3.834 9.5 3.834 19.5t-3.834 19.5q-3.833 9.499-11.5 17.166L353.333-98.333q-17.667 17.666-43.167 17.666T266-99.333Z"/></svg>
        </div>
        <%}%>
      </div>
    </div>

    <!--.......................Notification, Today's Schedule & Calendar......................-->

    <div class="footer">

      <!--....................Notifications....................-->

      <div class="card card4 tch-container">
        <div class="card-hed">
          <p>Notifications</p>
        </div>
        <div class="content tch-content">
          <% for(let i=0; i<notidata.length; i++) {%>
            <% let t = "old";
              if(locals.user.exittime<notidata[i].updatedAt){
                t = "new";
            }
              %>
          <div class="notification">
            <div class="text">
              <p class="<%=t%>"><%=notidata[i].title%></p>
              <p class="time"><%=arr[i]%></p>
            </div>
            <div class="pdf">
              <a href="<%=notidata[i].notiflie%>" target="_blank"><ion-icon name="download-outline"></ion-icon></a>
            </div>
          </div>
          <%}%>
        </div>
      </div>

      <!--..............Teacher Today's Schedule..................-->

      <div class="card tch-container">
        <div class="card-hed">
          <p>Your Today's Schedule</p>
        </div>
      </div>

      <!--..................Calendar.....................-->

      <div class="card card5 tch-container">
        <!-- <div class="card-hed">
                    <p>Calender</p>
                  </div> -->
        <div class="wrapper">
          <header>
            <div class="icons calendar-hed">
              <!-- <span id="prev" class="material-symbols-rounded">chevron_left</span> -->
              <!-- <img src="../assets/images/back.png" id="prev" class="icon-fp" alt="" srcset=""> -->
              <div>
                <span id="prev" class="icon-fp"><ion-icon name="chevron-back-outline"></ion-icon></span>
              </div>
              <div class="current-DATE">
                <p class="current-date"></p>
                <p class="current-year"></p>
              </div>
              <div>
                <span id="next" class="icon-fp"><ion-icon name="chevron-forward-outline"></ion-icon></span>
              </div>
              <!-- <span id="next" class="material-symbols-rounded">chevron_right</span> -->
              <!-- <img src="../assets/images/forward.png" id="next" class="icon-fp" alt="" srcset=""> -->
            </div>
          </header>
          <div class="calendar">
            <ul class="weeks">
              <li>Sun</li>
              <li>Mon</li>
              <li>Tue</li>
              <li>Wed</li>
              <li>Thu</li>
              <li>Fri</li>
              <li>Sat</li>
            </ul>
            <ul class="days"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="<%= assetPath('js/dashboard-calendar.js') %>"></script>

  <script src="<%= assetPath('js/teacher-subject-timetable.js') %>"></script>

</body>

</html>

<script>
  document.getElementById("reg").addEventListener("input", function() {
      // Get the input value
      var inputValue = document.getElementById("reg").value;

      // Set the input value as the text content of the <a> element
      var anchorTag = document.getElementById("reg-path");
      anchorTag.href = "/teacher/search/" + inputValue;
    });
    document.getElementById("reg").addEventListener("keyup", function(event) {
      if (event.key === "Enter") {
        var anchorTag = document.getElementById("reg-path");
        document.getElementById('search-btn').style.backgroundColor = "#0000006a";
        anchorTag.click(); // Simulate a click on the anchor tag
      }
    });
</script>
