<link
  rel="stylesheet"
  href="<%= assetPath('css/teach-allot-student-2.css') %>"
/>
<div class="main-page">
  <div class="blur">
    <div class="allot-student">
      <div class="page-heading">
        <a href="/teacher/allotsubject"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
              d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
            /></svg>
        </a>
        <h1 class="heading">Allot subjects to Students</h1>
      </div>
    </div>
    <form action="/teacher/allotsubject/addstudent" method="post">
      <input type="hidden" name="timetableid" value="<%=timetable._id%>">
    <div class="main-content">
      <ul>
        <li class="inside-main">
          <div class="anchor-content">
            <div class="row1">
              <span class="sub-code" name="subjectcode">
                <%=timetable.subjectcode.code%> &nbsp;
              </span>
              <span class="bold-part"> <%=timetable.subjectcode.name%> </span>
            </div>
            <div class="row2">
              <%
              const currentTimeStamp = Date.now();
              const currentDate = new Date(currentTimeStamp);
              const currentYear = currentDate.getFullYear();
              %>
              <span>Year : <span class="bold-part"><%=Number(currentYear)-Number(timetable.year)+1%> &nbsp;</span></span>
              <span class="department"
                >Department : <span class="bold-part"> <%=timetable.department%> &nbsp; </span></span
              >
              <span class="section"
                >Section : <span class="bold-part"> <%=timetable.section%> &nbsp; </span></span
              >
            </div>
          </div>
        
          <div class="btn-div">
            <a href="#">
              <button class="btn btn-full btn-medium">Save</button>
            </a>
          </div>
        </li>
      </ul>
      <div class="second-part">
        <div class="add-part">
        <div class="rest-part2">
          <ul>
            <li>Sno</li>
            <li>Name</li>
            <li>Registration No</li>
            <li><input type="checkbox" class="butt" id="checkall" checked/></li>
          </ul>
        </div>
        
      <div class="list-part">
        <div class="notupdated2" id="studlist">
          <%for(let i = 0; i<studentlist.length; i++){%>
          <ul>
            <li><%=i+1%></li>
            <li><%=studentlist[i].name%></li>
            <li><%=studentlist[i].username%></li>
            <li>
              <input type="checkbox" class="radios" name="studentlist" value="<%=studentlist[i]._id%>" checked/>
            </li>
          </ul>
          <%}%>
        </div>
      </div>
      </div> 
      <div onclick="openPopup()" class="add-student"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="2.5vw" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"/></svg></div>
      </div>
    </div>
    </form>
  </div>

  <div class="popup"></div>
  <!-- RESET MAX MARKS POPUP -->
  <div class="modal" id="reset-max">
      <div class="flex-container">
          <div class="test-type">
              <p id="poptitle">Add Student</p>
              <span  class="close" id="" onclick="closePopup()">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2vw" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13.89 8.7L12 10.59 10.11 8.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 8.7 13.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l1.89 1.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l1.89-1.89c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.38-1.41 0zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
                </span>
          </div>
          <div class="popup-content">
              <div id="input-part">
                   <form action="/teacher/allotsubject/searchadd" method="post" id="searchstudent">
                      <input type="text" name="registration" class="popup-input"
                          id="marks-input" placeholder="Enter Registration No" />
                 
                      <button class="btn btn-full" id="">
                          Save
                      </button>
                      </form>
              </div>
          </div>
      </div>
  </div>
</div>

<script>
  const popup = document.querySelector(".popup");
const modal = document.querySelector(".modal");
  function openPopup() {
      popup.style.display = "flex";
      modal.style.display = "flex";
  }
  function closePopup() {
      modal.style.display = "none";
      popup.style.display = "none";
  }

</script>

<script>

let checkAllRadios = document.getElementById("checkall");
let otherRadios = document.querySelectorAll(".radios");

checkAllRadios.addEventListener("change", function(){
	if(this.checked){
		otherRadios.forEach(function(radio){
			radio.checked = true;
		});

	}else{
		otherRadios.forEach(function(radio){
			radio.checked = false;
		});
	}
});
</script>
<script>
  let studentlist = <%- locals.studentlist.length %>;
  studentlist++;
  const searchstudentform = $('#searchstudent');
  $(document).on('submit', '#searchstudent', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'post',
      url: '/teacher/allotsubject/searchadd',
      data: searchstudentform.serialize(),
      success: function (data) {
        if(data.student){
          new Noty({
            theme: 'relax',
            text: 'Student added in the list at Bottom. Do save.',
            type: 'success',
            layout: 'topRight',
            timeout: 1500,
          }).show();
        newattDom(data.student);
        studentlist++;
        }
        else{
          new Noty({
            theme: 'relax',
            text: 'Incorrect registration number or Student does not exist.',
            type: 'error',
            layout: 'topRight',
            timeout: 1500,
          }).show();
        }
        document.getElementById('marks-input').value = '';
        closePopup();
        
      },
      error: function (error) {
        console.log(error.responseText);
      }
    });
  });
  function newattDom(data){
    let deptdom = `<ul>
            <li>${studentlist}</li>
            <li>${data.name}</li>
            <li>${data.username}</li>
            <li>
              <input type="checkbox" class="radios" name="studentlist" value="${data._id}" checked/>
            </li>
          </ul>`
    $('#studlist').append(deptdom);
  }
</script>