<link rel="stylesheet" href="<%= assetPath('css/teach-general-att.css') %>" />
<link rel="stylesheet" href="<%= assetPath('css/assignment.css') %>" />

<div class="main-page">
  <div class="blur">
    <div id="title">
      <div class="sub-name">
        <a href="/teacher/dashboard"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
              d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
            />
          </svg>
        </a>
        <h1 class="subject" id="sub_code"><%=timetable.subjectcode.code%></h1>
        <h1 class="subject" id="sub_title"><%=timetable.subjectcode.name%></h1>
      </div>
      <div class="year__sem__sec">
        <span>Department : <strong> <%=timetable.department%> </strong></span>
        <span>Semester : <strong> <%=timetable.semester%> </strong></span>
        <span>Section : <strong> <%=timetable.section%> </strong></span>
      </div>
    </div>
    <section class="att-navbar">
      <div class="container">
        <div id="tab-1" class="tab-item">
          <p class="hed-day">Attendance</p>
        </div>
        <a href="/teacher/internalmarks/<%=timetable._id%>">
          <div id="tab-2" class="tab-item">
            <p class="hed-day">Internal Marks</p>
          </div>
        </a>

        <a href="/teacher/subject/assignment/<%=timetable._id%>">
          <div id="tab-3" class="tab-item tab-border">
            <p class="hed-day">Assignment</p>
          </div>
        </a>

        <a href="/teacher/notes/<%=timetable._id%>">
          <div id="tab-4" class="tab-item">
            <p class="hed-day">Notes</p>
          </div>
        </a>
      </div>
    </section>
    <!-- overlay -->
    <div class="overlay" id="overlay"></div>

    <div class="modal" id="modal">
      <form
        action="/teacher/subject/assignment/create"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="top">
          <h3>Create Assignment</h3>
          <button class="close" id="close">
            <svg
              width="30"
              height="30"
              viewBox="0 0 58 58"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1546_5783)">
                <path
                  d="M38.4546 19.13C43.8882 24.351 44.0612 33.0201 38.8403 38.4538C33.6193 43.8874 24.9502 44.0604 19.5165 38.8395C14.0829 33.6185 13.9098 24.9494 19.1308 19.5157C24.3518 14.0821 33.0209 13.9091 38.4546 19.13ZM40.8218 16.6664C34.0184 10.1292 23.2043 10.345 16.6671 17.1485C10.13 23.9519 10.3458 34.766 17.1493 41.3031C23.9527 47.8403 34.7668 47.6245 41.3039 40.821C47.8411 34.0176 47.6253 23.2035 40.8218 16.6664ZM36.3284 33.671L31.401 28.9365L36.1355 24.0092L33.6718 21.6419L28.9373 26.5693L24.01 21.8348L21.6427 24.2985L26.5701 29.033L21.8356 33.9603L24.2992 36.3276L29.0338 31.4002L33.9611 36.1347L36.3284 33.671Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_1546_5783">
                  <rect
                    width="41"
                    height="41"
                    fill="white"
                    transform="translate(28.4072) rotate(43.8565)"
                  />
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
        <div class="bottom">
          <div class="row1">
            <input
              type="hidden"
              name="timetableid"
              value="<%=timetable._id%>"
            />
            <input
              type="text"
              name="title"
              id=""
              placeholder="Assignment Title"
            />
            <input
              type="text"
              name="description"
              id=""
              placeholder="Assignment Description"
            />
            <span
              >Add Due Date : <input type="date" name="duedate" id=""
            /></span>
          </div>
          <div class="row2">
            <!-- <div class="btn">
              Upload File
              <span>
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_1546_5664)">
                    <path
                      d="M11 9.00025V15.0002C11.0003 15.2551 11.0979 15.5003 11.2728 15.6856C11.4478 15.871 11.687 15.9825 11.9414 15.9974C12.1958 16.0124 12.4464 15.9296 12.6418 15.766C12.8373 15.6024 12.9629 15.3703 12.993 15.1172L13 15.0002V9.00025H19C19.5046 9.00009 19.9906 9.19066 20.3605 9.53375C20.7305 9.87684 20.9572 10.3471 20.995 10.8502L21 11.0002V20.0002C21.0002 20.5048 20.8096 20.9908 20.4665 21.3608C20.1234 21.7308 19.6532 21.9574 19.15 21.9953L19 22.0002H5C4.49542 22.0004 4.00943 21.8098 3.63945 21.4668C3.26947 21.1237 3.04284 20.6534 3.005 20.1502L3 20.0002V11.0002C2.99984 10.4957 3.19041 10.0097 3.5335 9.6397C3.87659 9.26972 4.34684 9.04309 4.85 9.00525L5 9.00025H11ZM12.884 2.46925L16.243 5.82725C16.4306 6.01489 16.5361 6.26938 16.5361 6.53475C16.5361 6.80011 16.4306 7.05461 16.243 7.24225C16.0554 7.42989 15.8009 7.53531 15.5355 7.53531C15.2701 7.53531 15.0156 7.42989 14.828 7.24225L13 5.41325V9.00025H11V5.41325L9.172 7.24225C9.07909 7.33516 8.96879 7.40886 8.8474 7.45914C8.726 7.50942 8.5959 7.53531 8.4645 7.53531C8.33311 7.53531 8.203 7.50942 8.0816 7.45914C7.96021 7.40886 7.84991 7.33516 7.757 7.24225C7.66409 7.14934 7.59039 7.03904 7.54011 6.91764C7.48982 6.79625 7.46394 6.66614 7.46394 6.53475C7.46394 6.40335 7.48982 6.27325 7.54011 6.15185C7.59039 6.03046 7.66409 5.92016 7.757 5.82725L11.117 2.46925C11.3514 2.23506 11.6692 2.10352 12.0005 2.10352C12.3318 2.10352 12.6496 2.23506 12.884 2.46925Z"
                      fill="white"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_1546_5664">
                      <rect width="24" height="24" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </span>
            </div> -->
            <input type="file" name="file" style="display: flex" />
            <button class="save__btn" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Create Button -->
    <button class="create__assignment__btn" id="create__btn">
      <svg
        width="28"
        height="28"
        viewBox="0 0 43 43"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.655 42.555V0.944999H25.635V42.555H17.655ZM0.365 25.55V18.045H42.925V25.55H0.365Z"
          fill="white"
        />
      </svg>
    </button>

    <div class="main__content">
      <div class="assignment__list__main">
        <%for(let i = 0; i<assignmentdata.length; i++){%>
        <div class="assignment__list">
          <div class="left">
            <div class="assignment__title">
              <h3><%=assignmentdata[i].title%></h3>
              <div class="due__date">
                <svg
                  width="11"
                  height="11"
                  viewBox="0 0 11 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.5 2.75V5.5H8.25"
                    stroke="white"
                    stroke-opacity="0.6"
                    stroke-width="0.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.50008 10.0827C8.03146 10.0827 10.0834 8.03072 10.0834 5.49935C10.0834 2.96797 8.03146 0.916016 5.50008 0.916016C2.96871 0.916016 0.916748 2.96797 0.916748 5.49935C0.916748 8.03072 2.96871 10.0827 5.50008 10.0827Z"
                    stroke="white"
                    stroke-opacity="0.6"
                    stroke-width="0.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="dynamic__date"> Due on <%=assignmentdata[i].duedate%> </span>
              </div>
            </div>
            <p class="assignment__desc">
              <%=assignmentdata[i].description%>
            </p>
            <div class="button">
              <button class="download__btn">
                <a href="<%=assignmentdata[i].pdfpath%>" download>
                  <span>
                    <svg
                      width="13"
                      height="13"
                      viewBox="0 0 15 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M0.254395 1.5C0.254395 1.10218 0.424091 0.720644 0.726153 0.43934C1.02821 0.158035 1.4379 0 1.86508 0L10.6777 0L14.2137 3.293V13.5C14.2137 13.8978 14.044 14.2794 13.7419 14.5607C13.4398 14.842 13.0302 15 12.603 15H1.86508C1.4379 15 1.02821 14.842 0.726153 14.5607C0.424091 14.2794 0.254395 13.8978 0.254395 13.5V1.5ZM2.93887 6H1.32818V11H2.40197V9H2.93887C3.36605 9 3.77573 8.84196 4.07779 8.56066C4.37986 8.27936 4.54955 7.89782 4.54955 7.5C4.54955 7.10217 4.37986 6.72064 4.07779 6.43934C3.77573 6.15803 3.36605 6 2.93887 6ZM7.23403 6H5.62334V11H7.23403C7.66121 11 8.07089 10.842 8.37295 10.5607C8.67501 10.2794 8.84471 9.89782 8.84471 9.5V7.5C8.84471 7.10217 8.67501 6.72064 8.37295 6.43934C8.07089 6.15803 7.66121 6 7.23403 6ZM9.9185 11V6H13.1399V7H10.9923V8H12.0661V9H10.9923V11H9.9185Z"
                        fill="white"
                      />
                    </svg>
                  </span>
                  <span class="dynamic___pdf__title">Download Pdf</span>
                  <span>
                    <svg
                      width="14"
                      height="14"
                      viewBox="0 0 18 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14.5277 7.63411H12.5962V1.54091C12.5962 0.870654 12.0495 0.322266 11.3814 0.322266H6.5222C5.85407 0.322266 5.30741 0.870654 5.30741 1.54091V7.63411H3.37589C2.29473 7.63411 1.74807 8.95024 2.51339 9.71799L8.08929 15.3115C8.56305 15.7868 9.32837 15.7868 9.80214 15.3115L15.378 9.71799C16.1434 8.95024 15.6088 7.63411 14.5277 7.63411ZM0.448242 19.8205C0.448242 20.4908 0.994899 21.0392 1.66303 21.0392H16.2405C16.9087 21.0392 17.4553 20.4908 17.4553 19.8205C17.4553 19.1503 16.9087 18.6019 16.2405 18.6019H1.66303C0.994899 18.6019 0.448242 19.1503 0.448242 19.8205Z"
                        fill="white"
                      />
                    </svg>
                  </span>
                </a>
              </button>
              <a href="/teacher/subject/assignment/mark">
                  <button class="view__btn">VIEW</button>
              </a>
            </div>
          </div>
          <div class="right">
                            <button class="edit__btn">
                                <svg width="22" height="22" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.6558 1.13205C19.8854 1.15267 19.9858 1.43317 19.8208 1.5968L8.38075 13.0368C8.25152 13.1661 8.15898 13.3275 8.11263 13.5043L6.73763 18.7705C6.69224 18.9446 6.69315 19.1275 6.74028 19.301C6.78741 19.4746 6.87911 19.6328 7.00629 19.76C7.13347 19.8872 7.2917 19.9789 7.46527 20.026C7.63884 20.0731 7.82172 20.0741 7.99575 20.0287L13.2606 18.6537C13.4376 18.6069 13.5989 18.5139 13.7281 18.3842L25.3304 6.78192C25.3667 6.74466 25.4129 6.71857 25.4636 6.70676C25.5142 6.69494 25.5672 6.69788 25.6162 6.71524C25.6653 6.7326 25.7083 6.76365 25.7403 6.80471C25.7722 6.84577 25.7917 6.89512 25.7965 6.94692C26.2792 11.5527 26.2515 16.1976 25.714 20.7973C25.4074 23.4167 23.3023 25.4723 20.6925 25.7652C15.9125 26.2951 11.0886 26.2951 6.30863 25.7652C3.6975 25.4723 1.59238 23.4167 1.28575 20.7973C0.718877 15.9504 0.718877 11.054 1.28575 6.20717C1.59238 3.58642 3.6975 1.5308 6.30863 1.2393C10.7423 0.747952 15.2147 0.712014 19.6558 1.13205Z" fill="white"/>
                                </svg>                                    
                            </button>
                            <button class="del__btn">
                                <svg width="26" height="26" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6669 5.625H18.8575C18.8575 5.12772 18.6367 4.65081 18.2438 4.29917C17.8508 3.94754 17.3179 3.75 16.7622 3.75C16.2065 3.75 15.6735 3.94754 15.2806 4.29917C14.8877 4.65081 14.6669 5.12772 14.6669 5.625ZM12.5716 5.625C12.5716 4.63044 13.0131 3.67661 13.799 2.97335C14.5849 2.27009 15.6508 1.875 16.7622 1.875C17.8736 1.875 18.9395 2.27009 19.7254 2.97335C20.5113 3.67661 20.9528 4.63044 20.9528 5.625H29.3339C29.6118 5.625 29.8782 5.72377 30.0747 5.89959C30.2712 6.0754 30.3816 6.31386 30.3816 6.5625C30.3816 6.81114 30.2712 7.0496 30.0747 7.22541C29.8782 7.40123 29.6118 7.5 29.3339 7.5H28.1522L25.6273 24.0713C25.4561 25.1943 24.836 26.2237 23.8818 26.969C22.9275 27.7143 21.7039 28.125 20.4373 28.125H13.0871C11.8205 28.125 10.5968 27.7143 9.64261 26.969C8.6884 26.2237 8.06827 25.1943 7.89703 24.0713L5.37221 7.5H4.19047C3.91261 7.5 3.64614 7.40123 3.44967 7.22541C3.2532 7.0496 3.14282 6.81114 3.14282 6.5625C3.14282 6.31386 3.2532 6.0754 3.44967 5.89959C3.64614 5.72377 3.91261 5.625 4.19047 5.625H12.5716ZM14.6669 12.1875C14.6669 11.9389 14.5565 11.7004 14.3601 11.5246C14.1636 11.3488 13.8971 11.25 13.6193 11.25C13.3414 11.25 13.0749 11.3488 12.8785 11.5246C12.682 11.7004 12.5716 11.9389 12.5716 12.1875V21.5625C12.5716 21.8111 12.682 22.0496 12.8785 22.2254C13.0749 22.4012 13.3414 22.5 13.6193 22.5C13.8971 22.5 14.1636 22.4012 14.3601 22.2254C14.5565 22.0496 14.6669 21.8111 14.6669 21.5625V12.1875ZM19.9051 11.25C20.183 11.25 20.4494 11.3488 20.6459 11.5246C20.8424 11.7004 20.9528 11.9389 20.9528 12.1875V21.5625C20.9528 21.8111 20.8424 22.0496 20.6459 22.2254C20.4494 22.4012 20.183 22.5 19.9051 22.5C19.6273 22.5 19.3608 22.4012 19.1643 22.2254C18.9678 22.0496 18.8575 21.8111 18.8575 21.5625V12.1875C18.8575 11.9389 18.9678 11.7004 19.1643 11.5246C19.3608 11.3488 19.6273 11.25 19.9051 11.25ZM9.97346 23.8181C10.0763 24.4918 10.4483 25.1093 11.0208 25.5564C11.5932 26.0035 12.3272 26.2499 13.0871 26.25H20.4373C21.1975 26.2504 21.932 26.0042 22.5049 25.557C23.0778 25.1099 23.4501 24.4921 23.553 23.8181L26.038 7.5H7.48635L9.97346 23.8181Z" fill="white"/>
                                </svg>                                    
                            </button>
                        </div>
        </div>
        <%}%>

      </div>
    </div>
  </div>
</div>
<script src="<%= assetPath('js/assignment.js') %>"></script>
