<link rel="stylesheet" href="<%= assetPath('css/teach-general-att.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/teach-att-view.css') %>">

<div class="main-page">
    <div class="blur">
        <div id="title">
            <div class="sub-name">
                <a href="/teacher/dashboard"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path
                            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z" />
                    </svg></a>
                <h1 class="subject" id="sub_code">
                    <%=timetable.subjectcode.code%>
                </h1>
                <h1 class="subject" id="sub_title">
                    <%=timetable.subjectcode.name%>
                </h1>
            </div>
            <div class="year__sem__sec">
                <span>Department : <strong>
                        <%=timetable.department%>
                    </strong></span>
                <span>Semester : <strong>
                        <%=timetable.semester%>
                    </strong></span>
                <span>Section : <strong>
                        <%=timetable.section%>
                    </strong></span>
            </div>
        </div>
        <section class="att-navbar">
            <div class="container">
                <div id="tab-1" class="tab-item tab-border">
                    <p class="hed-day">Attendance</p>
                </div>
                <a href="/teacher/internalmarks/<%=timetable._id%>">
                <div id="tab-2" class="tab-item">
                        <p class="hed-day">Internal Marks</p>
                    </div>
                </a>
               
               
                <a href="/teacher/notes/<%=timetable._id%>">
                    <div id="tab-4" class="tab-item">
                        <p class="hed-day">Notes</p>
                    </div>
                </a>

                <a href="/teacher/subject/feedback/<%=timetable._id%>">
                    <div id="tab-3" class="tab-item">
                        <p class="hed-day">Feedback</p>
                    </div>
                </a>
            </div>
        </section>
        <section class="tab-content">
            <div class="tab-header">
                <div class="select-menu">
                    <div class="select-btn">
                        <span class="sBtn-text">View</span>
                        <ion-icon name="caret-down-outline"></ion-icon>
                    </div>
                    <ul class="options" id="att-choose">
                        <a href="/teacher/attendance_update/<%=timetable._id%>">
                            <li class="option" value="view">
                                <span class="option-text">Update</span>
                            </li>
                        </a>
                        <a href="/teacher/getsubject/<%=timetable._id%>">
                            <li class="option" value="view">
                                <span class="option-text">Add</span>
                            </li>
                        </a>
                    </ul>
                </div>


                <div class=" search-input">
                    <input type="text" placeholder="Search" />
                    <div class="search-btn">
                        <a href="#">Search</a>
                    </div>
                </div>
                <div class="export-btn">
                    <a href="#">Export</a>
                    <img src="/images/excel.png" alt="">
                </div>
                <!-- @Srijan Check css  -->
            </div>

            <main class="student-profile">
                <div id="list">
                    <div class="serial_naming">
                        <div class="Alphabet">
                            <h1 class="order"></h1>
                        </div>
                        <div class="stu_list">
                            <ul class="stu_name_cards">

                                <%for(let i=0; i<student.length; i++){%>
                                    <a href="/teacher/viewstudentattendance/<%=student[i]._id%>">
                                        <!-- <%=parseInt(((student[i].totalpresent) /(student[i].present.length))*100)%> -->
                                        <li>
                                            <div class="postcard">
                                                <div class="mark <%if(parseInt(((student[i].totalpresent) /(student[i].present.length))*100)>=  74){%>
                                                present <%}else if(isNaN(parseInt(((student[i].totalpresent) /(student[i].present.length))*100) )){}else{%>absent<%}%>
                                                "></div>
                                                <div>
                                                    <div><img
                                                        <%console.log(student[i].studentid.avatar)%>
                                                            src="<%= student[i].studentid.avatar%>"
                                                            alt="" class="profile_photo"></div>
                                                    <div>
                                                        <p class="stu_name">
                                                            <%= student[i].studentid.name%>
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p class="stu_reg_no">
                                                            <%= student[i].studentid.username%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </a>

                                    <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
    </div>
    </main>

    </section>


</div>
<script src="<%= assetPath('js/teach-att.js') %>"></script>