<link rel="stylesheet" href="<%= assetPath('css/teach-general-att.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/teach-att-add-update.css') %>">

<div class="main-page">
    <div class="blur">
        <div id="title">
            <div class="sub-name">
                <a href="/teacher/dashboard"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path
                            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z" />
                    </svg></a>
                <h1 class="subject" id="sub_code">
                    <%=timetable.subjectcode.code%>
                </h1>
                <h1 class="subject" id="sub_title">
                    <%=timetable.subjectcode.name%>
                </h1>
            </div>
            <div class="year__sem__sec">
                <span>Department : <strong>
                        <%=timetable.department%>
                    </strong></span>
                <span>Semester : <strong>
                        <%=timetable.semester%>
                    </strong></span>
                <span>Section : <strong>
                        <%=timetable.section%>
                    </strong></span>
            </div>
        </div>
        <section class="att-navbar">
            <div class="container">
                <div id="tab-1" class="tab-item tab-border">
                    <p class="hed-day">Attendance</p>
                </div>
                <a href="/teacher/internalmarks/<%=timetable._id%>">
                    <div id="tab-2" class="tab-item">
                        <p class="hed-day">Internal Marks</p>
                    </div>
                </a>
               
                <a href="/teacher/subject/assignment/<%=timetable._id%>">
                <div id="tab-3" class="tab-item">
                    <p class="hed-day">Assignment</p>
                </div>
                </a>
               
                <a href="/teacher/notes/<%=timetable._id%>">
                    <div id="tab-4" class="tab-item">
                        <p class="hed-day">Notes</p>
                    </div>
                </a>
            </div>
        </section>
        <section class="tab-content">
            <form action="/teacher/addattendance" method="post" id="att-form">
                <div class="mode__and__button">
                    <div class="left">
                        <div class="select-menu">
                            <div class="select-btn">
                                <span class="sBtn-text">Add</span>
                                <ion-icon name="caret-down-outline"></ion-icon>
                            </div>
                            <ul class="options" id="att-choose">
                                <a href="/teacher/attendance_update/<%=timetable._id%>">
                                    <li class="option" value="view">
                                        <span class="option-text">Update</span>
                                    </li>
                                </a>
                                <a href="/teacher/attendance_view/<%=timetable._id%>">
                                    <li class="option" value="view">
                                        <span class="option-text">View</span>
                                    </li>
                                </a>
                            </ul>
                        </div>
                        <div class="date">
                            <input type="date" name="date" id="date" required>
                        </div>
                    </div>
                    <div class="right">
                        <button class="reset btn-outline btn btn-sm" type="reset">Reset</button>
                        <button class="save btn-full btn btn-sm" type="submit">Save</button>
                        <input type="text" value=<%=timetable._id%> name="id" style="display: none">
                    </div>
                </div>
                <div class="list__main">
                    <div class="list__main__title">
                        <ul>
                            <li>S.No</li>
                            <li>Name</li>
                            <li>Registration No.</li>
                            <li>CLC</li>
                            <li>CLP</li>
                            <li>PER</li>
                            <li><input type="checkbox" name="" id="checkall" checked></li>
                        </ul>
                    </div>
                    <div class="student-list-scroll">
                        <%for(let i=0; i<student.length; i++){%>
                            <div class="list__items">
                                <ul>
                                    <li>
                                        <%=i+1%>
                                    </li>
                                    <li>
                                        <%=student[i].studentid.name%>
                                    </li>
                                    <li>
                                        <%=student[i].studentid.username%>
                                    </li>
                                    <li id="len<%=i%>">
                                        <%=student[i].present.length%>
                                    </li>
                                    <li id="tp<%=i%>">
                                        <%=student[i].totalpresent%>
                                    </li>
                                    <li id="per<%=i%>">
                                        <%=parseInt(((student[i].totalpresent) /(student[i].present.length))*100)%>%
                                    </li>
                                    <li><input type="checkbox" name="check" class="radios" id="cb<%=i%>" value="<%=i%>"
                                            checked>
                                    </li>
                                    <input type="text" value=<%=student[i]._id%> name="studentlist"
                                    style="display: none">
                                </ul>
                            </div>
                            <%}%>
                    </div>
                </div>
            </form>
        </section>
    </div>

</div>

<script src="<%= assetPath('js/teach-att.js') %>"></script>
<script src="<%= assetPath('js/teach-ajax-addatt.js') %>"></script>

