
<link rel="stylesheet" href="<%= assetPath('css/general-att.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/sub-att-view.css') %>" />

<div class="main-page">
  <div id="title">
    <div class="sub-name">
      <a href="/teacher/dashboard"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg></a>
        <h1 class="subject" id="sub_code">
            <%=timetable.subjectcode.code%>
        </h1>
        <h1 class="subject" id="sub_title">
            <%=timetable.subjectcode.name%>
        </h1>
    </div>
    <div class="year__sem__sec">
        <span>Year : <strong>
                <%=timetable.year%>
            </strong></span>
        <span>Semester : <strong>
                <%=timetable.semester%>
            </strong></span>
        <span>Section : <strong>
                <%=timetable.department%>
            </strong></span>
    </div>
</div>

  <section class="att-navbar">
    <div class="container">
      <div id="tab-1" class="tab-item tab-border">
        <p class="hed-day">Attendance</p>
      </div>
      <div id="tab-2" class="tab-item">
        <a href="/teacher/internalmarks/<%=timetable._id%>">
          <p class="hed-day">Internal Marks</p>
        </a>
      </div>
      <div id="tab-3" class="tab-item">
        <p class="hed-day">Notes</p>
      </div>
    </div>
  </section>
  <section class="tab-content">
    <div class="container">
      <!-- Tab Content 1 -->
      <div id="tab-1-content" class="tab-content-item show">
        <!-- <div class="tab-header">
         
                <div class="export-btn">
                  <a href="#">Export to excel</a>
                </div>
        </div> -->
        <section class="student-info">
          <div class="std-info">
            <div class="profile-info">
              <div class="sub-name">
            <!-- <a href="/teacher/attendance_view/<%=timetable._id%>"><img src="/images/back.png" alt="" id="back_buttn"/></a></div> -->
            <a href="/teacher/attendance_view/<%=timetable._id%>"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg></a></div>
            <div class="image">
              <img
                src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                alt="" />
            </div>
            <div class="student__details">
              <h3 class="name">
                <%= student.studentid.name%>
              </h3>
              <p class="registration">
                <%= student.studentid.username%>
              </p>
            </div>
          </div>
          <div class="attendance-info">
            <p>Attendance Percentage: <span>
                <%=(parseInt(((student.totalpresent) /(student.present.length))*100))%>%
              </span></p>
            <div>
              <p>Present:<span>
                  <%=student.totalpresent%>
                </span></p>
              <p>Absent:<span><%=student.present.length-student.totalpresent%></span></p>
            </div>
          </div>
          <div class="std-btn">
            <button class="btn-full btn btn-sm" type="reset">Save</button>
            <button class="btn-outline btn btn-sm export" type="submit">Export <img src="/images/excel.png" alt=""></button>
        </div>
        </div>
        </section>
        <section class="attendance-list">
          <main class="main-row">
            <div class="col1">
              <%for(let i=0; i<student.present.length; i++){%>
                <%if(i>=10){break;}%>
                  <div class="att-date">
                    <p>
                      <%=student.present[i].datevalue %>
                    </p>
                    <input type="checkbox" checked>
                  </div>
                  <%}%>
            </div>
            <div class="col1">
              <%for(let i=10; i<student.present.length; i++){%>
                <%if(i>=20){break;}%>
                  <div class="att-date">
                    <p>
                      <%=student.present[i].datevalue %>
                    </p>
                    <input type="checkbox" checked>
                  </div>
                  <%}%>
            </div>
            <div class="col1">
              <%for(let i=20; i<student.present.length; i++){%>
                <%if(i>=30){break;}%>
                  <div class="att-date">
                    <p>
                      <%=student.present[i].datevalue %>
                    </p>
                    <input type="checkbox" checked>
                  </div>
                  <%}%>

            </div>
            <div class="col1">
              <%for(let i=30; i<student.present.length; i++){%>
                <%if(i>=40){break;}%>
                  <div class="att-date">
                    <p>
                      <%=student.present[i].datevalue %>
                    </p>
                    <input type="checkbox" checked>
                  </div>
                  <%}%>

            </div>
            <div class="col1">
              <%for(let i=40; i<student.present.length; i++){%>
                <%if(i>=50){break;}%>
                  <div class="att-date">
                    <p>
                      <%=student.present[i].datevalue %>
                    </p>
                    <input type="checkbox" checked>
                  </div>
                  <%}%>

            </div>
            <div class="col1">
              <%for(let i=50; i<student.present.length; i++){%>
                <%if(i>=60){break;}%>
                  <div class="att-date">
                    <p>
                      <%=student.present[i].datevalue %>
                    </p>
                    <input type="checkbox" checked>
                  </div>
                  <%}%>
            </div>
          </main>


          <!-- Tab Content 2 -->
          <div id="tab-2-content" class="tab-content-item">
            <h1>internal marks</h1>
          </div>

          <!-- Tab Content 3 -->
          <div id="tab-3-content" class="tab-content-item">
            <h1>notes</h1>
          </div>
      </div>
  </section>
</div>
</section>
<script src="<%= assetPath('js/attendance.js') %>"></script>
