
<link rel="stylesheet" href="<%= assetPath('css/general-att.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/sub-att-add-update.css') %>">

    <div class="main-page">
        <div class="blur">
        <div id="title">
            <div class="sub-name">
                <a href="/teacher/dashboard"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg></a>
                <h1 class="subject" id="sub_code">
                    <%=timetable.subjectcode.code%>
                </h1>
                <h1 class="subject" id="sub_title">
                    <%=timetable.subjectcode.name%>
                </h1>
            </div>
            <div class="year__sem__sec">
                <span>Department : <strong>
                    <%=timetable.department%>
                </strong></span>
                <span>Semester : <strong>
                        <%=timetable.semester%>
                    </strong></span>
                <span>Section : <strong>
                        <%=timetable.section%>
                    </strong></span>
            </div>
        </div>
        <section class="att-navbar">
            <div class="container">
                <div id="tab-1" class="tab-item tab-border">
                    <p class="hed-day">Attendance</p>
                </div>
                <div id="tab-2" class="tab-item">
                    <a href="/teacher/internalmarks/<%=timetable._id%>">
                    <p class="hed-day">Internal Marks</p>
                </a>
                </div>
                <div id="tab-3" class="tab-item">
                    <p class="hed-day">Assignment</p>
                </div>
                <div id="tab-4" class="tab-item">
                    <a href="/teacher/notes/<%=timetable._id%>">
                    <p class="hed-day">Notes</p>
                </a>
                </div>
            </div>
        </section>
        <section class="tab-content">
            <form action="/teacher/change_attendance" method="post" id="MyForm">
                <div class="mode__and__button">
                    <div class="left">
                        <div class="select-menu">
                            <div class="select-btn">
                                <span class="sBtn-text">Update</span>
                                <ion-icon name="caret-down-outline"></ion-icon>
                            </div>
                            <ul class="options" id="att-choose">
                                <a href="/teacher/getsubject/<%=timetable._id%>">
                                    <li class="option" value="view">
                                        <span class="option-text">Add</span>
                                    </li>
                                </a>
                                <a href="/teacher/attendance_view/<%=timetable._id%>">
                                    <li class="option" value="view">
                                        <span class="option-text">View</span>
                                    </li>
                                </a>
                            </ul>
                        </div>
                        <div class="select-menu1">
                            <div class="select-btn1">
                                <span class="sBtn-text"><%if(timetable.classes.length>0){%><%if(date){%><%=date.date%><%}else{%>Select date<%}%><%}else{%>No date<%}%></span>
                                <ion-icon name="caret-down-outline"></ion-icon>
                            </div>
                            <ul class="options" id="att-choose">
                                <%for(let j = 0; j<timetable.classes.length; j++){%>
                                    <a href="/teacher/attendaceedit/<%=timetable.classes[j]._id%>">
                                        <li class="option1" value="view">
                                            <span class="option-text"><%=timetable.classes[j].date%></span>
                                        </li>
                                    </a>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <button class="reset btn btn-outline btn-sm" type="reset">Reset</button>
                        <button class="save btn btn-full btn-sm" type="submit">Save</button>
                        <input type="text" value=<%=timetable._id%> name="id" style="display: none">
                        <input type="hidden" name="date" value="<%=date._id%>">
                    </div>
                </div>
                <div class="list__main">
                    <div class="list__main__title">
                        <ul>
                            <li>S.No</li>
                            <li>Name</li>
                            <li>Registration No.</li>
                            <li>CLC</li>
                            <li>CLA</li>
                            <li>PER</li>
                            <li><input type="checkbox" name="" id=""></li>
                        </ul>
                    </div>
                    <div class="student-list-scroll">
                        <%if(date){%>
                        <%for(let i=0; i<student.length; i++){%>
                            <div class="list__items">
                                <ul>
                                    <li>
                                        <%=i+1%>
                                    </li>
                                    <li>
                                        <%=student[i].studentid.name%>
                                    </li>
                                    <li>
                                        <%=student[i].studentid.username%>
                                    </li>
                                    <li>
                                        <%=student[i].present.length%>
                                    </li>
                                    <li>
                                        <%if(student[i].present[0].att){student[i].totalpresent=1%>1<%}else{student[i].totalpresent=0%>0<%}%>
                                    </li>
                                    <li>
                                        <%=parseInt(((student[i].totalpresent)
                                            /(student[i].present.length))*100)%>%
                                    </li>

                                    <li><input type="checkbox" name="check" id="" value="<%=i%>" <%if(student[i].present.length>0){%><%if(student[i].present[0].att){%>checked<%}%><%}%>>
                                    </li>
                                    
                                    <input type="text" value=<%=student[i]._id%> name="studentlist"
                                    style="display: none">
                                </ul>
                            </div>
                        <%}%>
                        <%}%>
                    </div>
                </div>
            </form>
        </section>
</div>

    </div>
    <script src="<%= assetPath('js/attendance.js') %>"></script>
    <script src="<%= assetPath('js/internalMarks.js') %>"></script>

<script>
    const optionMenu1 = document.querySelector(".select-menu1"),
       selectBtn1 = optionMenu1.querySelector(".select-btn1"),
       options1 = optionMenu1.querySelectorAll(".option1")
    //    sBtn_text1 = optionMenu.querySelector(".sBtn-text1");
selectBtn1.addEventListener("click", () => optionMenu1.classList.toggle("active"));       
options1.forEach(option =>{
    option.addEventListener("click", ()=>{
        // let selectedOption = option.querySelector(".option-text").innerText;
        // sBtn_text.innerText = selectedOption;
        optionMenu1.classList.remove("active");
    });
});
document.addEventListener("click", (event) => {
	if (!optionMenu1.contains(event.target)) {
	  optionMenu1.classList.remove("active");
	}
  });
</script>