
<link rel="stylesheet" href="<%= assetPath('css/general-att.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/sub-att-add-update.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/internalMarks.css') %>">

<body>
    <div class="main-page">
        <div class="blur">
        <div id="title">
            <div class="sub-name">
                <a href="/teacher/dashboard"><img src="/images/allotarrow.png" alt="" id="back_buttn"/></a>
                <h1 class="subject" id="sub_code">
                    <%=timetable.subjectcode.code%>
                </h1>
                <h1 class="subject" id="sub_title">
                    <%=timetable.subjectcode.name%>
                </h1>
            </div>
            <div class="year__sem__sec">
                <span>Year : <strong>
                        <%=timetable.year%>
                    </strong></span>
                <span>Semester : <strong>
                        <%=timetable.semester%>
                    </strong></span>
                <span>Section : <strong>
                        <%=timetable.department%>
                    </strong></span>
            </div>
        </div>
        <section class="att-navbar">
            <div class="container">
                <a href="/teacher/getsubject/<%=timetable._id%>">
                <div id="tab-1" class="tab-item">
                    <p class="hed-day">Attendance</p>
                </div>
                </a>
                <div id="tab-2" class="tab-item tab-border">
                    <p class="hed-day">Internal Marks</p>
                </div>
                <div id="tab-3" class="tab-item">
                    <p class="hed-day">Notes</p>
                </div>
            </div>
        </section>
        <section class="tab-content">
            <form id="marks-all" action="/teacher/updateMarks" method="post">
                <div class="mode__and__button">
                    <div class="left">
                        <select name="examType" onchange="extractExamType();setMaxMarks('<%=marksData%>')"
                            class="selection__mode" id="selection__mode" required>
                            <option disabled selected value>Select an option</option>
                            <option value="quiz1">Quiz1</option>
                            <option value="quiz2">Quiz2</option>
                            <option value="sess1">Sess1</option>
                            <option value="sess2">Sess2</option>
                        </select>
                        <button class="reset btn-outline btn btn-sm" onclick="addsub()">Reset Max Marks</button>
                    </div>

                    <div class="right">
                        <button class="reset btn-outline btn btn-sm" onclick="resetmodel()">Reset</button>
                        <button class="save btn-full btn btn-sm" onclick="setMarksAJAX()" id="submitButtonMarks">
                            Save
                        </button>
                    </div>
                </div>
                <div class="list__main">
                    <div class="list__main__title">
                        <ul>
                            <li>S.No</li>
                            <li>Name</li>
                            <li>Registration No.</li>
                            <li id="maxMarksField"></li>
                            <li>Marks(5)</li>
                        </ul>
                    </div>
                    <div class="list-sroll">
                        <% let counter=1 %>
                            <% for (attendance of student) { %>
                                <div class="list__items">
                                    <ul>
                                        <li>
                                            <%= counter %>
                                        </li>
                                        <li>
                                            <%= attendance.studentid.name %>
                                        </li>
                                        <li>
                                            <%= attendance.studentid.username %>
                                        </li>
                                        <li>
                                            <input class="input-tag" type="text" name="setMarks"
                                                id="marks-<%=attendance._id%>"
                                                oninput="setMarksDefault('<%=attendance._id%>','<%=marksData%>')" />
                                        </li>
                                        <input type="hidden" value="<%=attendance._id%>" name="attendanceIdInfo" />
                                        <input type="hidden" id="setDefaultMarks-<%=attendance._id%>"
                                            name="setDefaultMarks" />
                                        <li id="setDisplayMarks-<%=attendance._id%>"></li>
                                    </ul>
                                </div>
                                <% counter++; %>
                                    <% } %>
                    </div>
                </div>
            </form>
        </section>


        <div class="popup" id="reset-max">
            <div class="flex-container">
                <div class="test-type">
                    <p>QUIZ 1</p>
                </div>
                <div class="popup-content">
                    <div id="maximum-marks">
                        <p>Enter maximum marks</p>
                    </div>
                    <div id="input-part">
                        <form action="/timetable/setMaxMarks" method="post" id="MaxMarksForm">
                            <input type="number" name="maxMarks" class="reset" onclick="addsub()" min="0" max="200"
                                list="defaultNumbers" id="marks-input" />
                            <input type="hidden" name="examType" id="examType-MaxMarks" />
                            <input type="hidden" name="timeTableCode" id="timeTableCode" value="<%=timetable._id%> " />
                            <datalist id="defaultNumbers">
                                <option value="5"></option>
                                <option value="10"></option>
                                <option value="50"></option>
                                <option value="100"></option>
                            </datalist>
                            <button id="MaxMarksBtn" onclick="closemodal();validation();">
                                Save
                            </button>
                        </form>
                    </div>
                    <div id="text-part">
                        <p id="NB-part">
                            N.B. Enter the maximum marks of the quiz test you <br />
                            have conducted
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="reset-all">
        <div class="flex-container">
            <div class="confirm-text">
                <p>Confirm Reset?</p>
            </div>
            <div class="buttons">
                <button id="cross" onclick="closeresetmodal()"><img src="/images/cross.png"></button>
                <button type="reset" id="tick" onclick="closeresetmodal()"><img src="/images/tick.png"></button>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/js/resetMaxMarks.js"></script>


</body>

</html>
<script>
    let resetmax = document.getElementById('reset-max');
    function addsub() {
        resetmax.style.display = "flex";
    }
    function closemodal() {
        resetmax.style.display = "none";
    }
    let resetall = document.getElementById('reset-all');
    function resetmodel() {
        resetall.style.display = "flex";
    }
    function closeresetmodal() {
        resetall.style.display = "none";
    }

</script>
<script>
    let extractExamType = () => {
        let examType = document.getElementById("selection__mode");
        let examTypeInput = document.getElementById("examType-MaxMarks");
        examTypeInput.value = examType.value;
    };
    let validation = () => {
        new resetMaxMarks();
    };
</script>
<script>
    let arr = localStorage.getItem("arr");
    if (!arr) {
        arr = [0, 0, 0, 0];
    } else {
        arr = JSON.parse(arr);
    }
    let setTempMarks = (key, value) => {
        console.log("value: ", value);
        arr[key] = value;
        let maxMarksField = document.getElementById("maxMarksField");
        maxMarksField.innerHTML = "Marks(" + arr[key] + ")";
    };
    let setMaxMarks = (marksData) => {
        marksData = JSON.parse(marksData);
        let examTypeId = document.getElementById("selection__mode");
        let maxMarksField = document.getElementById("maxMarksField");
        let tempMarks;
        if (examTypeId.value == "quiz1") {
                if(marksData && marksData.examMaxMarks.quiz1){
                    tempMarks = marksData.examMaxMarks.quiz1;
                    if (arr[0] != 0) {
                        maxMarksField.innerHTML = "Marks(" + arr[0] + ")";
                    } else if (tempMarks) {
                        maxMarksField.innerHTML = "Marks(" + tempMarks + ")";
                    }
                }
             else {
                maxMarksField.innerHTML = "Unassigned";
            }
        } else if (examTypeId.value == "quiz2") {
            if(marksData && marksData.examMaxMarks.quiz2){
                tempMarks = marksData.examMaxMarks.quiz2;
                if (arr[1] != 0) {
                    maxMarksField.innerHTML = "Marks(" + arr[1] + ")";
                } else if (tempMarks) {
                    maxMarksField.innerHTML = "Marks(" + tempMarks + ")";
                }
            }
             else {
                maxMarksField.innerHTML = "Unassigned";
            }
        } else if (examTypeId.value == "sess1") {
            if(marksData && marksData.examMaxMarks.sess1){
                tempMarks = marksData.examMaxMarks.sess1;
                if (arr[2] != 0) {
                    maxMarksField.innerHTML = "Marks(" + arr[2] + ")";
                } else if (tempMarks) {
                    maxMarksField.innerHTML = "Marks(" + tempMarks + ")";
                }
            }
             else {
                maxMarksField.innerHTML = "Unassigned";
            }
        } else if (examTypeId.value == "sess2") {
            if(marksData && marksData.examMaxMarks.sess2){
                tempMarks = marksData.examMaxMarks.sess2;
                if (arr[3] != 0) {
                    maxMarksField.innerHTML = "Marks(" + arr[3] + ")";
                } else if (tempMarks) {
                    maxMarksField.innerHTML = "Marks(" + tempMarks + ")";
                }
            }
             else {
                maxMarksField.innerHTML = "Unassigned";
            }
        }
        checkUnassigned()
    };

    let checkUnassigned=()=>{
        let maxMarksField = document.getElementById("maxMarksField");
        if(maxMarksField.innerHTML=="Unassigned"){
            addsub()
        }
    }


    let setMarksAJAX = () => {
        new updateInternalMarks();
    };

    let setMarksDefault = (attentionId) => {
        let MarksSet = document.getElementById("marks-" + attentionId);
        let gotMarksRaw = MarksSet.value;
        let maxMarksField = document.getElementById("maxMarksField");
        let maxMarksRaw = maxMarksField.innerHTML;
        let maxMarks = parseInt(maxMarksRaw.replace(/[^0-9\.]/g, ''), 10);
        let examType = document.getElementById("selection__mode");
        let DefaultMaxMarks
        examType = examType.value;
        if (examType == 'quiz1' || examType == 'quiz2') {
            DefaultMaxMarks = 5;
        } else if (examType == 'sess1' || examType == 'sess2') {
            DefaultMaxMarks = 15;
        }
        let finalDefaultMarks = gotMarksRaw / maxMarks * DefaultMaxMarks;
        finalDefaultMarks = finalDefaultMarks.toFixed(2)
        let finalDefaultMarksInput = document.getElementById("setDefaultMarks-" + attentionId);
        let finalDefaultMarksDisplay = document.getElementById("setDisplayMarks-" + attentionId);
        finalDefaultMarksInput.value = finalDefaultMarks;
        finalDefaultMarksDisplay.innerHTML = finalDefaultMarks;
    }
</script>