<link rel="stylesheet" href="<%= assetPath('css/teach-general-att.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/teach-att-add-update.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/teach-int.css') %>">

<body>
    <div class="main-page">
        <div class="blur">
        <div id="title">
            <div class="sub-name">
                <a href="/teacher/dashboard"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path
                        d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z" />
                </svg></a>
                <h1 class="subject" id="sub_code">
                    <%=timetable.subjectcode.code%>
                </h1>
                <h1 class="subject" id="sub_title">
                    <%=timetable.subjectcode.name%>
                </h1>
            </div>
            <div class="year__sem__sec">
                <span>Department : <strong>
                        <%=timetable.department%>
                    </strong></span>
                <span>Semester : <strong>
                        <%=timetable.semester%>
                    </strong></span>
                <span>Section : <strong>
                        <%=timetable.section%>
                    </strong></span>
            </div>
        </div>
        <section class="att-navbar">
            <div class="container">
                <a href="/teacher/getsubject/<%=timetable._id%>">
                <div id="tab-1" class="tab-item">
                    <p class="hed-day">Attendance</p>
                </div>
                </a>
                <div id="tab-2" class="tab-item tab-border">
                    <p class="hed-day">Internal Marks</p>
                </div>
                <a href="/teacher/assignmentcheck/<%=timetable._id%>">
                    <div id="tab-3" class="tab-item">
                        <p class="hed-day">Assignment</p>
                    </div>
                    </a>
                <a href="/teacher/notes/<%=timetable._id%>">
                <div id="tab-4" class="tab-item">
                    
                    <p class="hed-day">Notes</p>
                </div>
            </a>
            </div>
        </section>
        <section class="tab-content">
            
            <div class="mode__and__button">
                <div class="left">
                    <select class="filter-select" id="exam-select">
                        <%if(timetable.subjectcode.type == "Theory"){%>
                        <option value="Quiz1">Quiz 1</option>
                        <option value="Session1">Sessional 1</option>
                        <option value="Quiz2">Quiz 2</option>
                        <option value="Session2">Sessional 2</option>
                        <%}%>
                         <%if(timetable.subjectcode.type == "Lab"){%>
                        <option value="Final">Final</option>
                        <%}%>

                    </select>
                    <button class="reset btn-outline btn btn-sm" onclick="addsub()">Reset Max Marks</button>
                </div>
                <div class="right">
                    <button class="reset btn-outline btn btn-sm" onclick="resetmodel()">Reset</button>
                    <button class="save btn-full btn btn-sm" onclick="formsubmit()" id="submitButtonMarks">
                        Save
                    </button>
                </div>
            </div>
            <form action="/teacher/internal/updateinternal" method="post" id="studinternal">
                <input type="hidden" name="timetableid" value="<%=timetable._id%>"/>
                <%if(timetable.subjectcode.type == "Theory"){%>
                <input type="hidden" id="selectvalue" name="examtype" value="Quiz1"/>
                <%}%>
                <%if(timetable.subjectcode.type == "Lab"){%>
                <input type="hidden" id="selectvalue" name="examtype" value="Final"/>
                <%}%>
            <div class="list__main">
                    <div class="list__main__title">
                        <ul>
                            <li>S.No</li>
                            <li>Name</li>
                            <li>Registration No.</li>
                            <li id="maxMarksField"></li>
                            <li id=>Marks(<span id="defaultmarks">5</span>)</li>
                        </ul>
                    </div>
                    <div class="list-sroll">
                        
                            <% for(let i = 0; i<student.length; i++) { %>
                                <div class="list__items">
                                    <ul>
                                        <li>
                                            <%=i+1%>
                                        </li>
                                        <li>
                                            <%=student[i].studentid.name%>
                                        </li>
                                        <li>
                                            <%=student[i].studentid.username%>
                                        </li>
                                        <li>
                                            <input class="input-tag" type="text" name="" oninput="updatemarks(this.id)" id="<%=student[i].studentid.username%>" />
                                        </li>
                                        <li >
                                            <input id="dis<%=student[i].studentid.username%>"  name="marks" type="text" class="input-tag-2" readonly>
                                            <input type="hidden" name="student" value="<%=student[i]._id%>">
                                        </li>
                                    </ul>
                                </div>
                            <% } %>
                    </div>
            </div>
            <!-- <input type="submit"> -->
            </form>
        </section>

        <div class="popup" id="reset-max">
            <div class="flex-container">
                <div class="test-type">
                    <p id="poptitle">QUIZ 1</p>
                </div>
                <div class="popup-content">
                    <div id="maximum-marks">
                        <p>Enter maximum marks</p>
                    </div>
                    <div id="input-part">
                        <form action="/teacher/internal/resetmaxmarks" method="post" id="MaxMarksForm">
                            <input type="number" name="maxMarks" class="popup-input" onclick="addsub()" min="0" max="200"
                                list="defaultNumbers" id="marks-input" />
                            <input type="hidden" name="examType" id="examType-MaxMarks" />
                            <input type="hidden" name="timetableid" value="<%=timetable._id%>" />
                            
                            <button id="MaxMarksBtn" onclick="">
                                Save
                            </button>
                        </form>
                    </div>
                    <div id="text-part">
                        <p id="NB-part">
                            N.B. Enter the maximum marks of the quiz test you <br />
                            have conducted
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="reset-all">
        <div class="flex-container">
            <div class="confirm-text">
                <p>Confirm Reset?</p>
            </div>
            <div class="buttons">
                <button id="cross" onclick="closeresetmodal()"><img src="/images/cross.png"></button>
                <button type="reset" id="tick" onclick="closeresetbut()"><img src="/images/tick.png"></button>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>

</html>
<script>
    let resetmax = document.getElementById('reset-max');
    function addsub() {
        resetmax.style.display = "flex";
    }
    function closemodal() {
        resetmax.style.display = "none";
    }
    let resetall = document.getElementById('reset-all');
    function resetmodel() {
        resetall.style.display = "flex";
    }
    function closeresetmodal() {
        resetall.style.display = "none";
    }
    function closeresetbut(){
        document.getElementById('studinternal').reset();
        closeresetmodal();
    }
    function formsubmit(){
        studintform();
    }

</script>
<script>
    let internalmarks = <%- JSON.stringify(locals.timetable.internalmarks) %>;
    let internalstudent = <%- JSON.stringify(locals.student) %>;
    let examselect = document.getElementById('exam-select');
    function selectupdate(){
        document.getElementById('examType-MaxMarks').value = examselect.value;
        
        let g = examselect.value;
        if(g == 'Quiz1'){
            document.getElementById('poptitle').innerHTML = "Quiz 1";
            document.getElementById('defaultmarks').innerHTML = 5;
        }
        if(g == 'Quiz2'){
            document.getElementById('poptitle').innerHTML = "Quiz 2";
            document.getElementById('defaultmarks').innerHTML = 5;
        }
        if(g == 'Session1'){
            document.getElementById('poptitle').innerHTML = "Sessional 1";
            document.getElementById('defaultmarks').innerHTML = 15;
        }
        if(g == 'Session2'){
            document.getElementById('defaultmarks').innerHTML = 15;
            document.getElementById('poptitle').innerHTML = "Sessional 2";
        }
        if(g == 'Final'){
            document.getElementById('defaultmarks').innerHTML = 60;
            document.getElementById('poptitle').innerHTML = "Final";
        }
        const quiz2Object = internalmarks.find(item => g in item);
        const index = internalmarks.indexOf(quiz2Object);
        // console.log(index);
        if(quiz2Object){
            console.log(quiz2Object)
            document.getElementById('maxMarksField').innerHTML = quiz2Object[g];
        }
        else{   
            document.getElementById('maxMarksField').innerHTML = "unassigned";
        }
        let markarr = document.getElementsByClassName('input-tag');
        console.log("len", internalstudent)
        for(let i = 0; i<internalstudent.length; i++){
            const studdquiz2Object = internalstudent[i].examMarks.find(item => g in item);
            // console.log(studdquiz2Object);
            const studindex = internalstudent[i].examMarks.indexOf(studdquiz2Object);
            // console.log("sad",studindex);
            if(studindex !== -1){
                // console.log("fff",internalstudent[i].examMarks[studindex][g])
                markarr[i].value = '';
                document.getElementsByClassName('input-tag-2')[i].value=internalstudent[i].examMarks[studindex][g]
            }
            else{
                markarr[i].value = '';
                document.getElementsByClassName('input-tag-2')[i].value = "";
                // console.log(document.getElementsByClassName('input-tag-2')[i].value)
            }
        }
    }
    selectupdate();
    examselect.addEventListener("change", function(){
        document.getElementById('selectvalue').value = examselect.value;
        selectupdate()
    })
function updatemarks(id){
    document.getElementById(('dis'+id)).value=((Number(document.getElementById(id).value)/Number(document.getElementById('maxMarksField').innerHTML)) * Number(document.getElementById('defaultmarks').innerHTML)).toFixed(1); 
}
</script>
<script>
    // AJAX
    let MaxMarksForm = function () {
    const newmaxmarksform = $('#MaxMarksForm');
        $(document).on('submit', '#MaxMarksForm', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: '/teacher/internal/resetmaxmarks',
                data: newmaxmarksform.serialize(),
                success: function (data) {
                    closemodal();
                    console.log(data.data);
                    internalmarks = data.data;
                    selectupdate();
                    new Noty({
                      theme: "relax",
                      text: "Max Marks updated",
                      type: "success",
                      layout: "topRight",
                      timeout: 1500,
                    }).show();
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        });
    };
MaxMarksForm();
let studintform = async function  () {
    const newstudintform = $('#studinternal');
        // $(document).on('submit', '#studinternal', function (e) {
        //     e.preventDefault();
            $.ajax({
                type: 'post',
                url: '/teacher/internal/updateinternal',
                data: newstudintform.serialize(),
                success: function (data) {
                    console.log(data);
                    // console.log(data.data);
                    internalstudent = data.student;
                    console.log("Select call")
                    selectupdate();
                    new Noty({
                      theme: "relax",
                      text: "Marks updated",
                      type: "success",
                      layout: "topRight",
                      timeout: 1500,
                    }).show();
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        // });
    };
// studintform();

</script>