<link rel="stylesheet" href="<%= assetPath('css/teach-general-att.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/notes.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/teach-note-popup.css') %>">


<div class="main-page">
    <div class="blur">
        <div id="title">
            <div class="sub-name">
                <a href="/teacher/dashboard"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                        <path
                            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z" />
                    </svg></a>
                <h1 class="subject" id="sub_code">
                    <%=timetable.subjectcode.code%>
                </h1>
                <h1 class="subject" id="sub_title">
                    <%=timetable.subjectcode.name%>
                </h1>
            </div>
            <div class="year__sem__sec">
                <span>Department : <strong>
                        <%=timetable.department%>
                    </strong></span>
                <span>Semester : <strong>
                        <%=timetable.semester%>
                    </strong></span>
                <span>Section : <strong>
                        <%=timetable.section%>
                    </strong></span>
            </div>
        </div>
        <section class="att-navbar">
            <div class="container">
                <div id="tab-1" class="tab-item">
                    <a href="/teacher/getsubject/<%=timetable._id%>">
                        <p class="hed-day">Attendance</p>
                    </a>
                </div>
                <div id="tab-2" class="tab-item">
                    <a href="/teacher/internalmarks/<%=timetable._id%>">
                        <p class="hed-day">Internal Marks</p>
                    </a>
                </div>
                <div id="tab-3" class="tab-item">
                    <p class="hed-day">Assignment</p>
                </div>
                <div id="tab-4" class="tab-item tab-border">
                    <a href="/teacher/notes/<%=timetable._id%>">
                        <p class="hed-day">Notes</p>
                    </a>
                </div>
            </div>
        </section>



        <div id="filters-and-options">
            <div id="filters">
                <div class="filter">All</div>
                <div class="filter">Notes</div>
                <div class="filter">PVQs</div>
                <div class="filter">Sample Papers</div>
                <div class="filter">Videos</div>
            </div>
                <button id="upload" class="btn btn-full " onclick="popupopen()">
                    Upload<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" width="1.5vw" fill="#fff"> <g> <rect /> </g> <g> <path d="M7.4,10h1.59v5c0,0.55,0.45,1,1,1h4c0.55,0,1-0.45,1-1v-5h1.59c0.89,0,1.34-1.08,0.71-1.71L12.7,3.7 c-0.39-0.39-1.02-0.39-1.41,0L6.7,8.29C6.07,8.92,6.51,10,7.4,10z M5,19c0,0.55,0.45,1,1,1h12c0.55,0,1-0.45,1-1s-0.45-1-1-1H6 C5.45,18,5,18.45,5,19z" /></g></svg>
                </button>
        </div>
        <!-- new main list -->
        <!-- - - - - - - - - -->
        <div class="list__main">
            <div class="list__main__title">
                <ul>
                    <li>S.No</li>
                    <li>File Name</li>
                    <li>Date Uploaded</li>
                    <li>File Size</li>
                    <li>Chapters</li>
                    <li></li>

                </ul>
            </div>
            <div class="student-list-scroll">
                <div class="list__items">
                    <ul>
                        <li class="note-metadata">
                            01
                        </li>
                        <li class="note-data">
                            <img src="/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf
                        </li>
                        <li class="note-metadata">
                            29-Feb-2023
                        </li>
                        <li class="note-metadata">
                            209kb
                        </li>
                        <li class="note-metadata">
                            1
                        </li>
                        <li class="btns">
                            <span><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                    viewBox="0 0 24 24">
                                    <g>
                                        <rect />
                                    </g>
                                    <g>
                                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                    </g>
                                </svg></span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                    <path
                                        d="M261-120q-24.75 0-42.375-17.625T201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z" />
                                </svg></span>
                        </li>


                    </ul>

                </div>
                <div class="list__items">
                    <ul>
                        <li class="note-metadata">
                            01
                        </li>
                        <li class="note-data">
                            <img src="/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf
                        </li>
                        <li class="note-metadata">
                            29-Feb-2023
                        </li>
                        <li class="note-metadata">
                            209kb
                        </li>
                        <li class="note-metadata">
                            1
                        </li>
                        <li class="btns">
                            <span><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                    viewBox="0 0 24 24">
                                    <g>
                                        <rect />
                                    </g>
                                    <g>
                                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                    </g>
                                </svg></span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                    <path
                                        d="M261-120q-24.75 0-42.375-17.625T201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z" />
                                </svg></span>
                        </li>


                    </ul>

                </div>
                <div class="list__items">
                    <ul>
                        <li class="note-metadata">
                            01
                        </li>
                        <li class="note-data">
                            <img src="/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf
                        </li>
                        <li class="note-metadata">
                            29-Feb-2023
                        </li>
                        <li class="note-metadata">
                            209kb
                        </li>
                        <li class="note-metadata">
                            1
                        </li>
                        <li class="btns">
                            <span><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                    viewBox="0 0 24 24">
                                    <g>
                                        <rect />
                                    </g>
                                    <g>
                                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                    </g>
                                </svg></span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                    <path
                                        d="M261-120q-24.75 0-42.375-17.625T201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z" />
                                </svg></span>
                        </li>


                    </ul>

                </div>
                <div class="list__items">
                    <ul>
                        <li class="note-metadata">
                            01
                        </li>
                        <li class="note-data">
                            <img src="/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf
                        </li>
                        <li class="note-metadata">
                            29-Feb-2023
                        </li>
                        <li class="note-metadata">
                            209kb
                        </li>
                        <li class="note-metadata">
                            1
                        </li>
                        <li class="btns">
                            <span><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                    viewBox="0 0 24 24">
                                    <g>
                                        <rect />
                                    </g>
                                    <g>
                                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                    </g>
                                </svg></span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                    <path
                                        d="M261-120q-24.75 0-42.375-17.625T201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z" />
                                </svg></span>
                        </li>


                    </ul>

                </div>
                <div class="list__items">
                    <ul>
                        <li class="note-metadata">
                            01
                        </li>
                        <li class="note-data">
                            <img src="/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf
                        </li>
                        <li class="note-metadata">
                            29-Feb-2023
                        </li>
                        <li class="note-metadata">
                            209kb
                        </li>
                        <li class="note-metadata">
                            1
                        </li>
                        <li class="btns">
                            <span><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                    viewBox="0 0 24 24">
                                    <g>
                                        <rect />
                                    </g>
                                    <g>
                                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                    </g>
                                </svg></span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                    <path
                                        d="M261-120q-24.75 0-42.375-17.625T201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z" />
                                </svg></span>
                        </li>


                    </ul>

                </div>
                <div class="list__items">
                    <ul>
                        <li class="note-metadata">
                            01
                        </li>
                        <li class="note-data">
                            <img src="/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf
                        </li>
                        <li class="note-metadata">
                            29-Feb-2023
                        </li>
                        <li class="note-metadata">
                            209kb
                        </li>
                        <li class="note-metadata">
                            1
                        </li>
                        <li class="btns">
                            <span><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                    viewBox="0 0 24 24">
                                    <g>
                                        <rect />
                                    </g>
                                    <g>
                                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                                    </g>
                                </svg></span><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                    <path
                                        d="M261-120q-24.75 0-42.375-17.625T201-180v-570h-41v-60h188v-30h264v30h188v60h-41v570q0 24-18 42t-42 18H261Zm438-630H261v570h438v-570ZM367-266h60v-399h-60v399Zm166 0h60v-399h-60v399ZM261-750v570-570Z" />
                                </svg></span>
                        </li>


                    </ul>

                </div>


            </div>
        </div>


    </div>
    <div id="pop-main">
        <div id="upload-notes">
            <div id="title-popup">
                <h1 id="title-heading">Upload Notes</h1>
                <button onclick="popupclose()">
                    <img src="/images/cross2.png" alt="" id="cross">
                </button>

            </div>
            <form action="/teacher/uploadnotes" method="post">
                
                <div id="main-section" >
                    <div id="upload-files" class="container">
                        <div class="drag-here">
                        <img src="/images/Vector.png" alt="" id="file-vector">
                        <h2 id="footnote">Drag and Drop your files here</h2>
                        <h2 id="else">OR</h2>
                    </div>
                    <div id="file-display"></div>
                        <input type="file" name="file" id="upload-button" multiple />
                        <label class="pdf-sel-btn btn btn-outline" for="upload-button">Select Files</label>
                    </div>
                    <div id="catagories">
                        <div id="filters">
                            <div class="filter"><span>All</span></div>
                            <div class="filter"><span>Notes</span></div>
                            <div class="filter"><span>PVQs</span></div>
                            <div class="filter"><span>Sample Papers</span></div>
                        </div>
                        <div id="chapter">
                            <p id="chapter-prompt">Chapters: </p>
                            <input id="input-ch-no" type="text">
                        </div>
                            <button class="btn btn-full" type="submit">Upload</button>
                    </div>
                </div>
              
            </form>
        </div>
    </div>
</div>


<!-- popup  -->

<script src="<%= assetPath('js/attendance.js') %>"></script>
<script>
    function popupopen() {
        document.getElementById('pop-main').style.display = "flex";
    }
    function popupclose() {
        document.getElementById('pop-main').style.display = "none";
    }
</script>

<script>
let uploadButton = document.getElementById("upload-button");
let dragHereDiv = document.querySelector(".drag-here");
let fileDisplay = document.getElementById("file-display");

const fileHandler = (file) => {
    console.log("Selected File:", file);
  const fileContainer = document.createElement("div");
  fileContainer.className = "file-container";

  const fileNameDisplay = document.createElement("span");
  fileNameDisplay.textContent = file.name;

  const closeButton = document.createElement("span");
  closeButton.className = "close-button";
  closeButton.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1.2vw" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/></svg>`;
  closeButton.addEventListener("click", () => {
    fileContainer.remove();
  });

  fileContainer.appendChild(fileNameDisplay);
  fileContainer.appendChild(closeButton);
  fileDisplay.appendChild(fileContainer);
};

uploadButton.addEventListener("change", () => {
  dragHereDiv.style.display = "none";
  fileDisplay.style.display = "flex"; 

  Array.from(uploadButton.files).forEach((file) => {
    fileHandler(file);
  });

  // Clear the file input after handling the files
  uploadButton.value = "";
});

// - - - - - - - - - - - - 
// Drag and Drop wala code
// - - - - - - - - - - - - 
let container = document.getElementById("upload-files"); 

container.addEventListener(
  "dragenter",
  (e) => {
    e.preventDefault();
    e.stopPropagation();
    container.classList.add("active");
    dragHereDiv.style.display = "none";
    fileDisplay.style.display = "flex"; 
  },
  false
);

container.addEventListener(
  "dragleave",
  (e) => {
    e.preventDefault();
    e.stopPropagation();
    container.classList.remove("active");
  },
  false
);

container.addEventListener(
  "dragover",
  (e) => {
    e.preventDefault();
    e.stopPropagation();
    container.classList.add("active");
  },
  false
);

container.addEventListener(
  "drop",
  (e) => {
    e.preventDefault();
    e.stopPropagation();
    container.classList.remove("active");
    let draggedData = e.dataTransfer;
    let files = draggedData.files;
    fileDisplay.style.display = "flex"; 

    Array.from(files).forEach((file) => {
      fileHandler(file);
    });
  },
  false
);




</script>

