<link rel="stylesheet" type="text/css" href="<%= assetPath('css/std-att.css') %>" />


<div class="main-page">
  <div class="blur">
  <div class="page-heading">
    <!-- <a href="/student/dashboard"><img src="/images/allotarrow.png" alt="" id="back_buttn"></a> -->
    <a href="/student/dashboard"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg></a>
    <h1 class="heading">Attendance</h1>
  </div>

  <section class="sub-attendance">
    <div class="sel-subject">
      <div class="select-menu">
        <div class="select-btn">
          <span class="sBtn-text"><%if(attendance.length>0){%><%if(subject){%><span class="sub-code"><%=subject.code%> </span><%=subject.name%><%}else{%>Select Subject<%}%><%}else{%>No Subject<%}%></span>
          <ion-icon name="caret-down-outline"></ion-icon>
        </div>
        <ul class="options" id="att-choose">
          <%for(let i = 0; i<attendance.length; i++){%>
          <a href="/student/attendancesingle/<%=attendance[i]._id%>">
            <li class="option" value="view">
              <span class="option-text"><span class="sub-code"><%=attendance[i].timetableid.subjectcode.code%></span> <%=attendance[i].timetableid.subjectcode.name%></span><div class="noti-circle" id="<%=i%>"></div>
            </li>
          </a>
          <%}%>
        </ul>
      </div>
      <%if(attendancesingle){%>
      <% let percent=parseInt(((attendancesingle.totalpresent) /(attendancesingle.present.length))*100);
      if(isNaN(percent)){ percent=0; }  %>
      <div class="att-info">
        <div class="abb">CLC: <span><%=attendancesingle.present.length%></span></div>
        <div class="abb">CLA: <span><%=attendancesingle.totalpresent%></span></div>
        <div class="abb">Attendance Percentage: <span><%=percent%>%</span></div>
      </div>
      <%}%>
    </div>


    <%if(attendancesingle){%>
    <% let t = attendancesingle.present.length %>
    <% let c = 0; %>
    <div class="date-list">
      <%for(let i = 0; i<((attendancesingle.present.length/8)+1); i++){%>
      <div class="att-list">
        <%for(let j = 0; (j<8 && c<t); j++){%>
          <div class="att-day">
            <div class="att-no">01</div>
            <div class="att-date"><%=attendancesingle.present[c].datevalue%></div>
            <div id="clc">
              <%if(attendancesingle.present[c].att){%>
              <div id="clp"></div>
              <%}%>
            </div>
          </div>
          <%c++%>
          <%}%>
      </div>
      <%}%>

    </div>
    <%} else{%>
      <div class="att-cont"></div>
    <%}%>
    
  </section>

  <div class="att-info foot">
    <div class="abb"><span>CLC: </span>Classes Conducted</div>
    <div class="abb"><span>CLA: </span>Classes Absent</div>
  </div>


</div>
</div>
<script>
  window.locals = [];
  let u = <%- JSON.stringify(locals.attendance) %>
  window.locals.push(u);
  for (let i = 0; i < locals[0].length; i++) {
    if (locals[0][i].exitattendance < locals[0][i].updateattendance) {
      let id = document.getElementById('attendance');
      let id2 = document.getElementById(i);
      console.log(id.style)
      id.style.display = "flex";
      id2.style.display = "flex";
      console.log("adasda");
    }
  }
</script>



<script src="<%= assetPath('js/student-attendance.js') %>"></script>