
<link rel="stylesheet" href="/css/studenthome.css" />
<link rel="stylesheet" href="/css/card.css" />
<link rel="stylesheet" href="/css/dashboard-calendar.css" />



<div class="main-page">
  <div class="heading">
    <div class="dash-heading">
      <h1 class="head head1">Dashboard</h1>
      <h4 class="head welcome-msg">
        Welcome back,<span id="name">
          <%=student.name%>
        </span>
      </h4>
    </div>
 
  </div>
  <!-- - - - - -  -->
  <!-- cards -->
  <!-- - - - - - -  -->
  <section class="cards">
    <div class="card-col1">
      <div class="card card1">
        <div class="b1">
          <img class="img" src="/images/AG.jpg" alt="" />
          <div>
            <h1 class="std-name">
              <%=student.name%>
            </h1>
            <p class="reg">
              <%= student.username %>
            </p>
          </div>
        </div>
        <div class="b2">
          <div>
            <h1>Course : <span>
                <%= student.department %>
              </span></h1>
            <h1>Semester : <span>
                <%= student.semester %>
              </span></h1>
            <h1>Section : <span>
                <%= student.section %>
              </span></h1>
          </div>
        </div>
        <div class="b3">
          <h1>
            TG :
            <span>Palash Ghosal (449)
            </span>
          </h1>
          <h1>
            No :
            <span>
              7076321457
            </span>
          </h1>
          <h1>
            Chamber :
            <span>
              E-301
            </span>
          </h1>
        </div>
      </div>
      <div class="card card2">
        <div class="card-hed">
          <p>Attendence</p>
        </div>
        <div class="attendence-container">
          <% if(internal.length==0){ %>
            <div id="no-subject">No subjects</div>
          <% } %>
          <div class="attendence-percent">
            <%for(let i=0; i<internal.length; i++){%>
              <% function extractCapitalLetters(str) { const capitalLetters=str.match(/[A-Z]/g); return capitalLetters ?
                capitalLetters.join('') : '' ; }
                internal[i].timetableid.subjectcode.name=extractCapitalLetters(internal[i].timetableid.subjectcode.name);
                let percent=parseInt(((internal[i].totalpresent) /(internal[i].present.length))*100);
                if(isNaN(percent)){ percent=0; } 
                var type = "";
                if(internal[i].timetableid.subjectcode.type == "Theory"){
                    type = "(T)";
                }
                if(internal[i].timetableid.subjectcode.type == "Lab"){
                    type = "(L)";
                }
                %>

                <div class="container">
                  <div class="circle-progress">
                    <span class="progress-val">
                      <%=percent%>%
                    </span>
                  </div>
                  <div class="sub-info">
                    <p class="sub-code">
                      <%=internal[i].timetableid.subjectcode.code%>
                    </p>
                    <p class="sub-name">
                      <%=internal[i].timetableid.subjectcode.name%> <%=type%>
                    </p>
                  </div>
                </div>
                <%}%>

          </div>
        </div>
      </div>
      <div class="card card3">
        <div class="card-hed">
          <p>Visual Highlights</p>
        </div>
      </div>
    </div>
    <div class="card-col1">
      <div class="card card4">
        <div class="card-hed">
          <p>Notifications</p>
        </div>
        <div class="content">
          <% for(let i=0; i<student.pinned.length; i++) {%>
          <div class="notification">
            <div class="text">
              <p class="old"><%=student.pinned[i].noti.title%></p>
            </div>
            <div class="pdf">
              <a href="<%=student.pinned[i].noti.notiflie%>" target="_blank"><ion-icon class="download-outline" name="download-outline"></ion-icon></a><a href="/student/unpinnoti/<%=student.pinned[i]._id%>"><ion-icon class="pin-outline" name="navigate-circle"></ion-icon></a>
            </div>
          </div>
          <%}%>
          <% for(let i=0; i<notidata.length; i++) {%>
            <% let t = "old";
              if(locals.user.exittime<notidata[i].updatedAt){
                t = "new";
            }
              %>
          <div class="notification">
            <div class="text">
              <p class="<%=t%>"><%=notidata[i].title%></p>
              <p class="time"><%=arr[i]%></p>
            </div>
            <div class="pdf">
              <a href="<%=notidata[i].notiflie%>" target="_blank"><ion-icon class="download-outline" name="download-outline"></ion-icon></a><a href="/student/pinnoti/<%=notidata[i]._id%>"><ion-icon class="pin-outline" name="navigate"></ion-icon></a>
            </div>
          </div>
          <%}%>
        </div>
      </div>
      <div class="card card5">
        <div class="wrapper">
          <header>
            <input id="cal" type="hidden" value="<%=calendardata%>">
            <div class="icons calendar-hed">
              <div>
                <span id="prev" class="icon-fp"><ion-icon name="chevron-back-outline"></ion-icon></span>
              </div>
              <div class="current-DATE">
                <p class="current-date"></p>
                <p class="current-year"></p>
              </div>
              <div>
                <span id="next" class="icon-fp"><ion-icon name="chevron-forward-outline"></ion-icon></span>
              </div>
            </div>
          </header>
          <div class="calendar">
            <ul class="weeks">
              <li>Sun</li>
              <li>Mon</li>
              <li>Tue</li>
              <li>Wed</li>
              <li>Thu</li>
              <li>Fri</li>
              <li>Sat</li>
            </ul>
            <ul class="days"></ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="/js/progress.js"></script>
<script src="/js/dashboard-calendar.js"></script>


<script>
  let cal = document.getElementById("cal");
  let data = cal.value;
  data = JSON.parse(data);
  console.log(data);

</script>