<link rel="stylesheet" href="<%= assetPath('css/feedback_response.css') %>" />

<div class="main-page">
  <div class="blur">
  <div id="main-title" class="page-heading">
    <!-- <a href="/student/feedback"><img src="/images/allotarrow.png" alt="" id="back_buttn" /></a> -->
    <a href="/student/feedback"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg></a>
    <img src="/images/AG.jpg" alt="" id="profile-photo" />
    <div id="teacher-details">
      <div id="teacher-name"><%=teacherdata.name%></div>
      <div id="teacher-title"><%=teacherdata.position%></div>
      <div id="teacher-number"><%=teacherdata.username%></div>
    </div>
  </div>
  <form action="/student/feedbackdata" method="post">
    <!-- <input type="hidden" value=""> -->
    <div id="feedback-query-list">
      <div class="queries">
        <div class="question">
          <span class="question-number">1</span>
          <span class="question-title">How satisfied are you with the quality of notes provided during
            lectures?
          </span>
        </div>
        <div class="rating">
          <div id="1" onclick="onclicked(this.id)" class="rank row1">1</div>
          <div id="2" onclick="onclicked(this.id)" class="rank row1">2</div>
          <div id="3" onclick="onclicked(this.id)" class="rank row1">3</div>
          <div id="4" onclick="onclicked(this.id)" class="rank row1">4</div>
          <div id="5" onclick="onclicked(this.id)" class="rank row1">5</div>
          <input id="row1" type="hidden" name="row1">
        </div>
        <div class="marker">
          <div>Least Satisfied</div>
          <div>Very Satisfied</div>
        </div>
      </div>
      <div class="queries">
        <div class="question">
          <span class="question-number">2</span>
          <span class="question-title">How satisfied are you with the quality of notes provided during
            lectures?
          </span>
        </div>
        <div class="rating">
          <div id="6" onclick="onclicked(this.id)" name="row2" class="rank row2">1</div>
          <div id="7" onclick="onclicked(this.id)" name="row2" class="rank row2">2</div>
          <div id="8" onclick="onclicked(this.id)" name="row2" class="rank row2">3</div>
          <div id="9" onclick="onclicked(this.id)" name="row2" class="rank row2">4</div>
          <div id="10" onclick="onclicked(this.id)" name="row2" class="rank row2">5</div>
          <input id="row2" type="hidden" name="row2">
        </div>
        <div class="marker">
          <div>Least Satisfied</div>
          <div>Very Satisfied</div>
        </div>
      </div>
      <div class="queries">
        <div class="question">
          <span class="question-number">3</span>
          <span class="question-title">How satisfied are you with the quality of notes provided during
            lectures?
          </span>
        </div>
        <div class="rating">
          <div id="11" onclick="onclicked(this.id)" name="row3" class="rank row3">1</div>
          <div id="12" onclick="onclicked(this.id)" name="row3" class="rank row3">2</div>
          <div id="13" onclick="onclicked(this.id)" name="row3" class="rank row3">3</div>
          <div id="14" onclick="onclicked(this.id)" name="row3" class="rank row3">4</div>
          <div id="15" onclick="onclicked(this.id)" name="row3" class="rank row3">5</div>
          <input id="row3" type="hidden" name="row3">
        </div>
        <div class="marker">
          <div>Least Satisfied</div>
          <div>Very Satisfied</div>
        </div>
      </div>
      <div class="queries">
        <div class="question">
          <span class="question-number">4</span>
          <span class="question-title">How satisfied are you with the quality of notes provided during
            lectures?
          </span>
        </div>
        <div class="rating">
          <div id="16" onclick="onclicked(this.id)" name="row4" value="1" class="rank row4">1</div>
          <div id="17" onclick="onclicked(this.id)" name="row4" value="2" class="rank row4">2</div>
          <div id="18" onclick="onclicked(this.id)" name="row4" value="3" class="rank row4">3</div>
          <div id="19" onclick="onclicked(this.id)" name="row4" value="4" class="rank row4">4</div>
          <div id="20" onclick="onclicked(this.id)" name="row4" value="5" class="rank row4">5</div>
          <input id="row4" type="hidden" name="row4">
        </div>
        <div class="marker">
          <div>Least Satisfied</div>
          <div>Very Satisfied</div>
        </div>
      </div>
      <div class="queries">
        <div class="question">
          <span class="question-number">5</span>
          <span class="question-title">How satisfied are you with the quality of notes provided during
            lectures?
          </span>
        </div>
        <div class="rating">
          <div id="21" onclick="onclicked(this.id)" name="row5" value="1" class="rank row5">1</div>
          <div id="22" onclick="onclicked(this.id)" name="row5" value="2" class="rank row5">2</div>
          <div id="23" onclick="onclicked(this.id)" name="row5" value="3" class="rank row5">3</div>
          <div id="24" onclick="onclicked(this.id)" name="row5" value="4" class="rank row5">4</div>
          <div id="25" onclick="onclicked(this.id)" name="row5" value="5" class="rank row5">5</div>
          <input id="row5" type="hidden" name="row5">
        </div>
        <div class="marker">
          <div>Least Satisfied</div>
          <div>Very Satisfied</div>
        </div>
      </div>
      <div class="queries">
        <div class="question">
          <span class="question-number">6</span>
          <span class="question-title">How satisfied are you with the quality of notes provided during
            lectures?
          </span>
        </div>
        <div class="rating">
          <div id="26" onclick="onclicked(this.id)" name="row6" value="1" class="rank row6">1</div>
          <div id="27" onclick="onclicked(this.id)" name="row6" value="2" class="rank row6">2</div>
          <div id="28" onclick="onclicked(this.id)" name="row6" value="3" class="rank row6">3</div>
          <div id="29" onclick="onclicked(this.id)" name="row6" value="4" class="rank row6">4</div>
          <div id="30" onclick="onclicked(this.id)" name="row6" value="5" class="rank row6">5</div>
          <input id="row6" type="hidden" name="row6">
        </div>
        <div class="marker">
          <div>Least Satisfied</div>
          <div>Very Satisfied</div>
        </div>
      </div>

    </div>
    <button class="btn btn-full btn-medium" id="submit-bttn" type="submit">
      Submit
    </button>
  </form>
  </div>
</div>

<script src="<%= assetPath('js/feedback.js') %>"></script>