<link rel="stylesheet" href="<%= assetPath('css/std-feed-res.css') %>" />
<style>
  label {
    display: block;
    padding: 5px;
    position: relative;
    padding-left: 20px;
  }
  label input {
    display: none;
  }
  label span {
    width: 4vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5vh;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  input:checked + span {
    background-color: #fd6d08;
  }
</style>
<div class="main-page">
  <div class="blur">
    <div id="main-title" class="page-heading">
      <!-- <a href="/student/feedback"><img src="/images/allotarrow.png" alt="" id="back_buttn" /></a> -->
      <a href="/student/feedback"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
          />
        </svg>
      </a>
      <img src="/images/AG.jpg" alt="" id="profile-photo" />
      <div id="teacher-details">
        <div id="teacher-name"><%=teacherdata.name%></div>
        <div id="teacher-title"><%=teacherdata.position%></div>
        <div id="teacher-number"><%=teacherdata.username%></div>
      </div>
    </div>
    <form action="/student/feedbackdata" method="post">
      <!-- <input type="hidden" value=""> -->
      <div id="feedback-query-list">
        <div class="queries">
          <div class="question">
            <span class="question-number">1</span>
            <span class="question-title"
              >Rate of providing useful and timely feedback on your assignments.
            </span>
          </div>
          <div class="rating">
            <label
              ><input type="radio" name="q1" value="1" /><span>1</span></label
            >
            <label
              ><input type="radio" name="q1" value="2" /><span>2</span></label
            >
            <label
              ><input type="radio" name="q1" value="3" /><span>3</span></label
            >
            <label
              ><input type="radio" name="q1" value="4" /><span>4</span></label
            >
            <label
              ><input type="radio" name="q1" value="5" /><span>5</span></label
            >
          </div>
          <div class="marker">
            <div>Least Satisfied</div>
            <div>Very Satisfied</div>
          </div>
        </div>
        <div class="queries">
          <div class="question">
            <span class="question-number">2</span>
            <span class="question-title"
              >Proficiency of teachers in breaking down complex topics into a
              compact and understanding way .
            </span>
          </div>
          <div class="rating">
            <label
              ><input type="radio" name="q2" value="1" /><span>1</span></label
            >
            <label
              ><input type="radio" name="q2" value="2" /><span>2</span></label
            >
            <label
              ><input type="radio" name="q2" value="3" /><span>3</span></label
            >
            <label
              ><input type="radio" name="q2" value="4" /><span>4</span></label
            >
            <label
              ><input type="radio" name="q2" value="5" /><span>5</span></label
            >
          </div>
          <div class="marker">
            <div>Least Satisfied</div>
            <div>Very Satisfied</div>
          </div>
        </div>
        <div class="queries">
          <div class="question">
            <span class="question-number">3</span>
            <span class="question-title"
              >Infulenceing you as a student to a greater level of excellence.
            </span>
          </div>
          <div class="rating">
            <label
              ><input type="radio" name="q3" value="1" /><span>1</span></label
            >
            <label
              ><input type="radio" name="q3" value="2" /><span>2</span></label
            >
            <label
              ><input type="radio" name="q3" value="3" /><span>3</span></label
            >
            <label
              ><input type="radio" name="q3" value="4" /><span>4</span></label
            >
            <label
              ><input type="radio" name="q3" value="5" /><span>5</span></label
            >
          </div>
          <div class="marker">
            <div>Least Satisfied</div>
            <div>Very Satisfied</div>
          </div>
        </div>
        <div class="queries">
          <div class="question">
            <span class="question-number">4</span>
            <span class="question-title"
              >Rate of providing learning resources and materials with easy
              access to students equally.
            </span>
          </div>
          <div class="rating">
            <label
              ><input type="radio" name="q4" value="1" /><span>1</span></label
            >
            <label
              ><input type="radio" name="q4" value="2" /><span>2</span></label
            >
            <label
              ><input type="radio" name="q4" value="3" /><span>3</span></label
            >
            <label
              ><input type="radio" name="q4" value="4" /><span>4</span></label
            >
            <label
              ><input type="radio" name="q4" value="5" /><span>5</span></label
            >
          </div>
          <div class="marker">
            <div>Least Satisfied</div>
            <div>Very Satisfied</div>
          </div>
        </div>
        <div class="queries">
          <div class="question">
            <span class="question-number">5</span>
            <span class="question-title"
              >Ability to effectively convey information to you as a teacher.
            </span>
          </div>
          <div class="rating">
            <label
              ><input type="radio" name="q5" value="1" /><span>1</span></label
            >
            <label
              ><input type="radio" name="q5" value="2" /><span>2</span></label
            >
            <label
              ><input type="radio" name="q5" value="3" /><span>3</span></label
            >
            <label
              ><input type="radio" name="q5" value="4" /><span>4</span></label
            >
            <label
              ><input type="radio" name="q5" value="5" /><span>5</span></label
            >
          </div>
          <div class="marker">
            <div>Least Satisfied</div>
            <div>Very Satisfied</div>
          </div>
        </div>
        <div class="queries">
          <div class="question">
            <span class="question-number">6</span>
            <span class="question-title"
              >Coverage of syllabus at an appropriate time and a uniform pace
            </span>
          </div>
          <div class="rating">
            <label
              ><input type="radio" name="q6" value="1" /><span>1</span></label
            >
            <label
              ><input type="radio" name="q6" value="2" /><span>2</span></label
            >
            <label
              ><input type="radio" name="q6" value="3" /><span>3</span></label
            >
            <label
              ><input type="radio" name="q6" value="4" /><span>4</span></label
            >
            <label
              ><input type="radio" name="q6" value="5" /><span>5</span></label
            >
          </div>
          <div class="marker">
            <div>Least Satisfied</div>
            <div>Very Satisfied</div>
          </div>
        </div>
        <div class="queries">
          <div class="question">
            <span class="question-number">7</span>
            <span class="question-title"
              >Display of appreciativeness from teachers in an active classroom.
            </span>
          </div>
          <div class="rating">
            <label
              ><input type="radio" name="q7" value="1" /><span>1</span></label
            >
            <label
              ><input type="radio" name="q7" value="2" /><span>2</span></label
            >
            <label
              ><input type="radio" name="q7" value="3" /><span>3</span></label
            >
            <label
              ><input type="radio" name="q7" value="4" /><span>4</span></label
            >
            <label
              ><input type="radio" name="q7" value="5" /><span>5</span></label
            >
          </div>
          <div class="marker">
            <div>Least Satisfied</div>
            <div>Very Satisfied</div>
          </div>
        </div>
        <div class="queries">
          <div class="question">
            <span class="question-number">8</span>
            <span class="question-title"
              >Timely exposure to institutional gatherings and development
              programs.
            </span>
          </div>
          <div class="rating">
            <label
              ><input type="radio" name="q8" value="1" /><span>1</span></label
            >
            <label
              ><input type="radio" name="q8" value="2" /><span>2</span></label
            >
            <label
              ><input type="radio" name="q8" value="3" /><span>3</span></label
            >
            <label
              ><input type="radio" name="q8" value="4" /><span>4</span></label
            >
            <label
              ><input type="radio" name="q8" value="5" /><span>5</span></label
            >
          </div>
          <div class="marker">
            <div>Least Satisfied</div>
            <div>Very Satisfied</div>
          </div>
        </div>
        <div class="queries">
          <div class="question">
            <span class="question-number">9</span>
            <span class="question-title"
              >Fostering a friendly and inclusive classroom environment by
              teachers.
            </span>
          </div>
          <div class="rating">
            <label
              ><input type="radio" name="q9" value="1" /><span>1</span></label
            >
            <label
              ><input type="radio" name="q9" value="2" /><span>2</span></label
            >
            <label
              ><input type="radio" name="q9" value="3" /><span>3</span></label
            >
            <label
              ><input type="radio" name="q9" value="4" /><span>4</span></label
            >
            <label
              ><input type="radio" name="q9" value="5" /><span>5</span></label
            >
          </div>
          <div class="marker">
            <div>Least Satisfied</div>
            <div>Very Satisfied</div>
          </div>
        </div>
        <div class="queries">
          <div class="question">
            <span class="question-number">10</span>
            <span class="question-title"
              >How is the act of patience and understanding exhibited over the students?
            </span>
          </div>
          <div class="text-area">
            <textarea type="text" class="input-read"></textarea>
          </div>
        <!-- here  -->

      </div>
      <button class="btn btn-full btn-medium" id="submit-bttn" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="<%= assetPath('js/std-feedback.js') %>"></script>
